{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{% endblock %}

{% block title %}- Inici de sessió{% endblock %}
{% block content %}
{% url 'password_reset' as auth_pwd_reset_url %}
{% url 'django_registration_register' as register_url%}

<h3 class="headline" style="margin-top:40px">Inici de sessió</h3>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
        {% endfor %}
    {% endfor %}
  {% if form.non_field_errors %}
  <ul class="errorlist nonfield">
      {% for error in form.non_field_errors %}
        <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
      {% endfor %}
  </ul>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
  {{ form|crispy }}
  <!-- <div style="border-top: 2px solid border-bottom:1px solid; margin:30px 0;padding:20px 10px;text-align:center">
    <div class="container">
    <div class="col">
      <div class="row-lg-auto">
        <div class="input-group mb-3" >
          {{ form.username.errors }}
          <div class="input-group-prepend" data-target="#id_origin_name">
                <span class="input-group-text" id="icon_origin_name">{% trans form.username.label_tag %}</span>
          </div>
          {{ form.username }}
        </div>
        <div class="input-group mb-3" >
          {{ form.password.errors }}
          <div class="input-group-prepend" data-target="#id_origin_name">
                <span class="input-group-text" id="icon_origin_name">{% trans form.password.label_tag %}</span>
          </div>
          {{ form.password }}
        </div> -->

<input type="submit" class="btn btn-success" value="Iniciar sessió" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

  {% block content_title %}
    <p style="text-align: center; margin-top: 40px;margin-bottom: 10%;">Si encara no teniu un compte, podeu registrar-vos <a href="{{ register_url }}">aquí</a>.<br>
    Si heu oblidat la contrasenya, podeu restablir-la <a href="{{ auth_pwd_reset_url }}">aquí.</a>
    </p>

  {% endblock %}

{% endblock %}
