{% extends "django_registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}
{% trans "Introduïu la vostra nova contrasenya a continuació per restablir-la:" %}
<form method="post" action="">{% csrf_token %}
<table>
    {{ form.as_table }}
    <tr><td></ td><td><input type="submit" value="{% trans "Estableix la contrasenya" %}"/></td></tr>
</table>
</form>
{% endblock %}
