{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<!--    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">



{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
          <div class="col-sm-4">
                  <big>Xats oberts</big>
                        <ul class="list-group">
                            {% for f in friends %}
                                <a href="/chat/msg/{{f}}">
                                    <li class="list-group-item list-group-item-action">
                                        <div class="row">
                                                <img src="{% static 'images/user_image.jpg' %}" style="width: 25px; height: 25px;"/>
                                                <div class="row" style="font-color: #000; margin-left: 10; font-size:13px;">{%if f == friend.user.username %}<b>{{f}}</b>{% else %}{{f}}{% endif %}
                                                  {% for username,total in unseen_msgs.items %}{%if f == username %}<b>({{total}})</b>{%endif%} {%endfor %}</div>
                                        </div>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
          </div>
          <div class="col-sm-8">
                        {% block chat %}
                            <h3>Visita el perfil d'un usuari i comença a xatejar!</h3>
                        {% endblock %}
          </div>

    </div>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
{% endblock %}
