{% extends "chat/Base.html" %}
{% load static %}

{% block  chat %}

        <div class="messages my_scroll_div" id="board" >
            {% block message %}
            {% endblock %}


        </div>
        <form method="post" class="form-group" id="chat-box">
            {% csrf_token %}
            <div style="margin-left: 16px;" class=" mb-3">
                <div style="width:100% !important" class="row justify-content-around d-flex flex-column">
                    <input type="text"  class="form-control input-sm" style="font-size: 11px;" placeholder="Envia un missatge..." name="message" id="msg_field"></textarea>
                    <button type="submit" style="margin-left: 0px; text-float:right;"  name="send" class="btn btn-success btn-sm" id="send_btn">Enviar</button>
                </div>
            </div>
        </form>


    <script>
        var messageBody = document.querySelector('.messages');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

        sender_id = "{{ friend.pk }}";
        receiver_id = "{{ curr_user.pk }}";

        function scrolltoend() {
            $('#board').stop().animate({
                scrollTop: $('#board')[0].scrollHeight
            }, 800);
         }

        const text_box = '<div class="chatcontainer darker">' +
            // '<img src="{% static 'images/user_image.jpg' %}" alt="Avatar" class="right" style="width:100%;">' +
            '<p>{description}</p>' +
            '<span class="time-right">{time}</span>' +
            '</div>'

        //For sending
        $(function () {
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#msg_field');
                send('{{ curr_user.user.username }}', '{{ friend.user.username }}', message.val());
                message.val('');
            })
        })

        function send(sender, receiver, message){
            $.post('/chat/api/messages', '{"sender_name": "' + sender + '", "receiver_name": "' +
                    receiver + '","description": "' + message + '" }', function (data) {
                var field = text_box.replace('{description}', message);
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes()
                field = field.replace('{time}', time)
                $('#board').append(field);
                scrolltoend();
            })
        }

    </script>

{% endblock %}
