{% extends 'chat/chats.html' %}
{% load static %}

{% block message %}
{% for message in messages %}
    {% if curr_user.user == message.sender_name %}
        <div class="chatcontainer darker">
            <!-- <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" class="right" style="width:100%;"> -->
            <p>{{message.rich_description|safe}}</p>
            <span class="time-right">{{message.smart_time}}</span>
        </div>
    {% else %}
        {% if message.seen %}
          <div class="chatcontainer">
              <!-- <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" style="width:100%;"> -->
              <p>{{message.rich_description|safe}}</p>
              <span class="time-left">{{message.smart_time}}</span>
          </div>
        {% endif %}
    {% endif %}
{% endfor %}
<script>
function scrolltoend() {
    $('#board').stop().animate({
        scrollTop: $('#board')[0].scrollHeight
    }, 800);
}

$(function () {

    setInterval(receive, 5000)
})

const text = '<div class="chatcontainer">'+
            // + '<img src="{% static 'images/user_image.jpg' %}" alt="Avatar" style="width:100%;">' +
            '<p><b>{description}</b></p>' +
            '<span class="time-left" style="color: red;">{time}</span>' +
            '</div>'

function receive(){
    $.get('/chat/api/messages/' + sender_id + '/' + receiver_id, function(data){
        if(data.length !== 0){
            for(var i = 0; i < data.length; i++){
                var field = text.replace('{description}', data[i].rich_description);
                var time = data[i].time.slice(0, 5) + ' a.m'
                field = field.replace('{time}', time);
                $('#board').append(field);
                scrolltoend();
            }
        }
    })
}

</script>

{% endblock %}
