
.my_scroll_div{
    overflow-y: auto;
    max-height: 300px;

    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.chatcontainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.darker {
  max-height: 120px;
  border-color: #ccc;
  background-color: #ddd;
  text-align: right;
}

.chatcontainer::after {
  content: "";
  clear: both;
  display: table;
}

.chatcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.messages{
    /* height: 500px; */
    /* width: 1200px; */
    /* border: thick solid #000; */
    /* border-width: 2px; */
    margin-left: 16px;
    /* overflow-y: auto; */
}

#msg_field{
    margin-left: 10px;
    margin-top: 16px;
    width: 100%;
}

#send_btn{
    margin-top: 16px;
    height: 40px;
}
