
.sidebar-menu #site-name {
    background: #fff !important; //changed logo header to white, no need.
}


@media (min-width: 400px){
  .change-form #content-main>form label, .passwordchange #content-main>form label, .auth-user.change-form #content-main>form label {
      /* flex-basis: 10%; */
      flex-basis: 20% !important;
      /* min-width: 15% !important; */
  }
}


#site-name img {
    width: 100px;
}

.email {

}
