{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}
{% if form.errors %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
         <strong>{{form.non_field_errors}}</strong>
    </div>
  {% endif %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{field.name}}: {{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
{% endif %}


<h3 class="headline">Confirmació de l'entrega de la comanda #{{match.request.id}}</h3>
<form  method="post" enctype="multipart/form-data" id="confirmation-delivery-form">
  {% csrf_token %}
  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:5px">
    <div class="card-header">
      <b>Ruta</b> <a href="{% url 'tripoffer-detail' match.offer.id %}">#{{match.offer.id}}</a>: ⚐ {{match.offer.origin_name}}{{match.offer.steps_name}} ⟹ ⚑ {{match.offer.destination_name}}
      <br><b>Comanda</b> <a href="{% url 'triprequest-detail' match.request.id %}">#{{match.request.id}}</a>: ⚐ {{match.request.origin_name}} ⟹ ⚑ {{match.request.destination_name}}
    </div>

{%if not match.delivery_confirmed %}
  <div class="card-body">
      <div class="form-group">
        {{ form.delivery_photo|as_crispy_field }}
      </div>

      <div class="form-group">
        {{ form.delivery_signature|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.delivery_comment|as_crispy_field }}
      </div>
      </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Confirmar entrega</button>
    </div>

{%else%}
      <div class="card-body">
        {%if match.delivery_photo %}  <label>Foto de l'entrega:</label> <cite> <a target="_blank" href="/media/{{match.delivery_photo}}">{{match.delivery_photo}}</a></cite><br>{%endif%}
        {%if match.delivery_signature %}  <label>Signatura del/de la receptor/a:</label> <cite> <a target="_blank" href="/media/{{match.delivery_signature}}">{{match.delivery_signature}}</a></cite><br>{%endif%}
        <label>Comentari de l'entrega:</label> {{match.delivery_comment}}<br>
        <label>Data de confirmació de l'entrega:</label> {{match.delivery_date}}<br>
      </div>
      <div class="card-footer">
        <br><a class="btn btn-primary" href="{% url 'tripmatch-review' match.id %}">★ Ja pots enviar una valoració</a>
        <a class="btn btn-secondary"  href="{% url 'triprequest-detail' match.request.id %}">Tornar a la comanda</a>
      </div>
{%endif%}

  </div>
</form>

{% endblock %}
