  <!-- Include the required data as hidden input fields -->
  <input type="hidden" name="delivery[tasks][0][address][newAddress][postalCode]" value="">
  <input type="hidden" name="delivery[tasks][0][address][newAddress][addressLocality]" value="">
  <input type="hidden" id="lat_orig" name="delivery[tasks][0][address][newAddress][latitude]" value="">
  <input type="hidden" id="lon_orig" name="delivery[tasks][0][address][newAddress][longitude]" value="">
  <input type="hidden" name="delivery[tasks][0][address][existingAddress]" value="">
  <input type="hidden" id="origin_streetAddress" name="delivery[tasks][0][address][newAddress][streetAddress]" value="1 Sdada Road, Bhudubhudu, Sudáfrica">
  <input type="hidden" name="delivery[tasks][0][address][isNewAddress]" value="1">
  <input type="hidden" name="delivery[tasks][0][timeSlot]" value="2023-07-20 13:00-15:00">
  <input type="hidden" id="delivery_details" name="delivery[tasks][0][address][newAddress][description]" value="">
  <input type="hidden" name="delivery[tasks][0][type]" value="PICKUP">
  <input type="hidden" id="delivery_tasks_0_timeSlot" name="delivery[tasks][0][timeSlot]" value="">

  <input type="hidden" name="delivery[tasks][1][address][newAddress][postalCode]" value="">
  <input type="hidden" name="delivery[tasks][1][address][newAddress][addressLocality]" value="">
  <input type="hidden" id="lat_dest" name="delivery[tasks][1][address][newAddress][latitude]" value="">
  <input type="hidden" id="lon_dest" name="delivery[tasks][1][address][newAddress][longitude]" value="">
  <input type="hidden" name="delivery[tasks][1][address][existingAddress]" value="">
  <input type="hidden" id="destination_streetAddress" name="delivery[tasks][1][address][newAddress][streetAddress]" value="Sdada Road, Bhudubhudu, Sudáfrica">
  <input type="hidden" name="delivery[tasks][1][address][isNewAddress]" value="1">
  <input type="hidden" name="delivery[tasks][1][timeSlot]" value="2023-07-20 13:00-15:00">
  <input type="hidden" id="package_amount" name="delivery[tasks][1][packages][0][quantity]" value="1">
  <input type="hidden" id="package_size" name="delivery[tasks][1][packages][0][package]" value="L">

  <input type="hidden" id="weight" name="delivery[tasks][1][weight]" value="3">
  <input type="hidden" name="delivery[tasks][1][address][newAddress][description]" value="">
  <input type="hidden" name="delivery[tasks][1][type]" value="DROPOFF">

  <input type="hidden" id="name" name="delivery[name]" value="">
  <input type="hidden" id="email" name="delivery[email]" value="">
  <input type="hidden" id="telephone" name="delivery[telephone]" value="">
  <input type="hidden" name="delivery[billingAddress][company]" value="">
  <input type="hidden" name="delivery[billingAddress][streetAddress]" value="">
  <input type="hidden" name="delivery[billingAddress][postalCode]" value="">
  <input type="hidden" name="delivery[billingAddress][addressLocality]" value="">
  <input type="hidden" name="delivery[billingAddress][latitude]" value="">
  <input type="hidden" name="delivery[billingAddress][longitude]" value="">