{% extends "base.html" %}
{% load geojson_tags %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/auto-complete.css">
<link rel="stylesheet" href="/static/css/ratings.css">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Function.prototype.bind|gated"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.17.1/ol.css" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.17.1/ol.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" type="text/css" media="all" rel="stylesheet">
<script src="/static/js/jquery.query-object.js"></script>

<!-- Google maps Widget -->
<!-- La api de google está restringida al dominio -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
<!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- {{meta_opengraph|safe}} -->
{% endblock %}

{% block content %}



{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
              <div class="alert alert-success" role="alert">{{message}}</div>
            {% endif %}
        {% endfor %}
{% endif %}

<div id="map" class="index_map"></div>
<div style="border-top: 2px solid border-bottom:1px solid; margin:30px 0;padding:20px 10px;text-align:center">

  <div class="container">

  <div class="col">
    <div class="row-sm">
      <small>Per cercar només cal indicar punt de sortida o arribada...</small>
    </div>
    <div class="row-lg-auto">
      <div class="input-group mb-3" >
        <div class="input-group-prepend" data-target="#id_origin_name">
              <span class="input-group-text" id="icon_origin_name"><i class="fas fa-home"></i></span>
        </div>
        <input aria-describedby="icon_origin_name" id="id_origin_name" data-geocomplete="street address"  type="text" name="id_origin_name" required="True" placeholder="Origen" class="form-control" >
      </div>

      <div class="input-group mb-3" >
        <div class="input-group-prepend" data-target="#id_origin_name">
              <span class="input-group-text" id="icon_origin_name"><i class="fas fa-map-marked-alt"></i></span>
        </div>
        <input aria-describedby="icon_origin_name" id="id_destination_name" data-geocomplete="street address"  type="text" name="id_destination_name" required="True" placeholder="Destinació" class="form-control" >
      </div>

      <div class="input-group date" id="datetimepicker2" data-target-input="nearest" style="margin-top:15px">
        <input type="text" placeholder="Data de sortida" name="time_depart" class="datetimepicker form-control datetimepicker-input" required="True" id="id_date_depart" data-toggle="datetimepicker" data-target="#id_date_depart">
        <div class="input-group-append" data-target="#id_date_depart" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fas fa-calendar"></i></div>
        </div>
      </div>
      <div class="input-group date" id="datetimepicker2" data-target-input="nearest" style="margin-top:15px">
        <input type="text" placeholder="Hora de sortida" name="time_depart" class="datetimepicker form-control datetimepicker-input" required="True" id="id_time_depart" data-toggle="datetimepicker" data-target="#id_time_depart">
        <div class="input-group-append" data-target="#id_time_depart" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fas fa-clock"></i></div>
        </div>
      </div>
      <script type="text/javascript">
        function deferDateTimePicker_id_time_depart() {
            if (window.jQuery && $.fn.datetimepicker) {
                $('#id_date_depart').datetimepicker({"format": "DD/MM/YYYY", "icons": {"time": "fa fa-calendar"}, "useCurrent": true, "collapse": false, "locale": "ca"});
                $('#id_time_depart').datetimepicker({"format": "HH:mm", "icons": {"time": "fas fa-clock"}, "useCurrent": true, "collapse": false, "locale": "ca"});
            } else {
                setTimeout(function() { deferDateTimePicker_id_time_depart() }, 50);
            }
        }

        deferDateTimePicker_id_time_depart();
      </script>

        <div style="margin-top:10px">
          <button type="button" style="margin-bottom: .5rem;" class="btn btn-danger filter-label" id="help_filters" data-toggle="popover" data-html="true" title="Condicions de transport" data-content="x">?</button>
            <label class="btn btn-primary filter-label"> <input id="transport_isothermic" type="checkbox" autocomplete="off"> isoterm</label>
            <label class="btn btn-primary filter-label"> <input id="transport_cold" type="checkbox" autocomplete="off"> refrigerat</label>
            <label class="btn btn-primary filter-label"> <input id="transport_freezer" type="checkbox" autocomplete="off"> congelat</label>
            <label class="btn btn-primary filter-label"> <input id="transport_dry" type="checkbox" autocomplete="off"> sense humitat </label>
        </div>

         <input type="text" id="tags" data-role="tagsinput" data-target-input="nearest" name="tags" class="form-control" placeholder="Filtrar per etiquetes..." >

      </div>
      <div class="row-sm-2">
          <button type="button" id="search_routes_button" onclick="search_trips()" class="btn-lg btn-success" style="margin:20px">Cercar</button>
        </div>
      <div class="row-sm-auto">
        <small>... o pots publicar <a href="{% url 'tripoffer-add'%}">una ruta</a> o <a href="{% url 'triprequest-add'%}">una comanda</a>.</small>
      </div>

    </div>

</div>
</div>


<script src="/static/js/leaflet_display.js"></script>
<script>display_offers_in_map('{% url "tripoffer-all-geojson" %}');</script>
<script>display_requests_in_map('{% url "triprequest-all-geojson" %}');</script>
<script>display_storages_in_map('{% url "storage-all-geojson" %}');</script>
<script>display_logisticnodes_in_map('{% url "logisticnode-all-geojson" %}');</script>
<script>insert_legend();</script>

<script src="/static/js/auto-complete-sharetrip.js"></script>
<script src="/static/js/search_utils.js"></script>


<br>
  <div id="search_results">
    <div id="search_results_offers"></div>
    <br>
    <div id="search_results_requests"></div>
  </div>


<script>
  $(document).ready(function() {
        initialize_search_form();
    }
  );

  $('#help_filters').popover({trigger: 'focus'})
  $('#help_filters').attr('data-content', $filter_help_text_search + $filter_help_text_content)
  $('#carouselExampleIndicators').carousel({
    interval: 3000
});



</script>


{% endblock %}
