<div id="carouselExampleIndicators" class="carousel slide  p-3" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 p-3" src="/static/img/banner1.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner2.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner3.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner4.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner5.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner6.jpg">
    </div>
    <!-- <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner7.jpg">
    </div> -->
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner8.jpg">
    </div>
    <!-- <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner9.jpg">
    </div> -->
    <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner10.jpg">
    </div>
    <!-- <div class="carousel-item">
      <img class="d-block w-100 p-3" src="/static/img/banner11.jpg">
    </div> -->
    <!-- <div class="carousel-item active">
      <a href="{% url 'tripoffer-add'%}"><img class="d-block w-100 p-3" src="/static/img/banner_ruta.png" alt="Publicar ruta"></a>
    </div>
    <div class="carousel-item">
    <a href="{% url 'triprequest-add'%}"><img class="d-block w-100 p-3" src="/static/img/banner_comanda.png" alt="Publicar comanda"></a>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Següent</span>
  </a>
</div>
