{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}

  <!-- Google maps Widget -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
  <script src="https://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
  {{ form.media }}

{% endblock %}

{% block content %}

<h3 class=headline">{% if object %}Editar{% else %}Afegir{% endif %} Node Logístic (NL)</h3>
<i>Els NODES LOGÍSTICS són visibles al mapa en portada per a tots els usuaris registrats. En afegir-los, ofereixes el teu magatzem (amb o sense cost) com a punt d'entrega/recollida per a altres usuaris, i/o aglutines comandes per oferir el servei de ciclologística de distribució d'última milla.</i>
<br><br>
{% if form.errors %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
         <strong>{{form.non_field_errors}}</strong>
    </div>
  {% endif %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{field.name}}: {{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
{% endif %}

<form id="form_new_logisticnode" method="post" enctype="multipart/form-data" onsubmit="return onSubmit()">


{% csrf_token %}
<input type="hidden" id="object_id" name="object_id" value="{{object.id}}">

{{ form.name|as_crispy_field }}

<input type="hidden" id="origin_location" name="origin_location" value="{{origin_location}}">
  {{ form.origin_name|as_crispy_field }}
  {% if origin_name %}<script>$('#id_origin_name').val("{{origin_name}}");</script>{% endif %}
  {% if origin_location %}<script>$('#id_oriorigin_locationgin_name').val("{{origin_location}}");</script>{% endif %}
  {{ form.email|as_crispy_field }}
  {{ form.phone|as_crispy_field }}

  {{ form.has_isothermic|as_crispy_field }}
  {{ form.has_frigo_room|as_crispy_field }}
  {{ form.has_fridge|as_crispy_field }}
  {{ form.has_freezer|as_crispy_field }}
  {{ form.has_cold_dry|as_crispy_field }}
  {{ form.has_toro|as_crispy_field }}
  {{ form.has_traspalet|as_crispy_field }}
  {{ form.has_loading_dock|as_crispy_field }}

  {{ form.dimensions_fresh_m2|as_crispy_field }}
  {{ form.dimensions_dry_m2|as_crispy_field }}
  {{ form.delivery_companies|as_crispy_field }}
  {{ form.vehicle_types|as_crispy_field }}

  {{ form.timetable|as_crispy_field }}
  {{ form.allows_parking|as_crispy_field }}
  {{ form.price_per_dry_storage_day|as_crispy_field }}
  {{ form.price_per_fresh_storage_day|as_crispy_field }}

  {{ form.agreement_type|as_crispy_field }}
  {{ form.comments|as_crispy_field }}
  <label for="delivery_areas_file">Afegir zones de distribució</label>
  <small>(Descarregar arxiu .geoJson des de Coopcycle (o un .zip contenint multiples .geojson) i pujar-lo aquí</small>)
  <br>
  <input type="file" id="delivery_areas_file" name="delivery_areas_file" accept=".geojson,.zip">
    {{ form.delivery_areas|as_crispy_field}}<br>
<br>
  {{ form.api_url|as_crispy_field }}
  {{ form.api_client_id|as_crispy_field }}
  {{ form.api_client_secret|as_crispy_field }}
  {{ form.checkout_form_url|as_crispy_field }}

    {% if object %}
      <a href="{% url 'logisticnode-detail' object.id %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar</a>
      &nbsp; <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Guardar</button>
      {% else %}
      <a href="{% url 'logisticnode-user-view' %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar </a>
      <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Afegir</button>
    {% endif %}
    </form>


    <script src="/static/js/auto-complete-sharetrip.js"></script>

  <script>
    $("#id_origin_name").attr("placeholder","");
    $('#help_filters').popover({trigger: 'focus'});
    $('#help_filters').attr('data-content', $filter_help_text_logisticnode + $filter_help_text_content_logisticnode)
    $('#help_tags').popover({trigger: 'focus'});
    $('#help_tags').attr('data-content', $tags_help_text);

    $("#id_origin_name").attr("placeholder","Escriu la localització del node logístic...");
    if( $('#id_origin_name').val() && $('#origin_location').val() == ''){
      $('#id_origin_name').val('');
    }

    function onSubmit() {
      if($('#origin_location').val() == '' || $('#destination_location').val() == ''){
        alert("S'ha de completar la localització del node logístic. Selecciona una localitat de la llista desplegable.");
        return false;
      }
    }

  </script>
{% endblock %}
