{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}

  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>

  <link rel="stylesheet" href="/static/css/ratings.css">

  <script src="/static/js/model_actions.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="/static/js/model_actions.js"></script>

{% endblock %}

{% block content %}
{% csrf_token %}


{% with offer=object %}
{% if not object.active %}
<div class="alert alert-warning">
  <strong>En espera d'aprovació per les persones administradores.</strong>
</div>
{% else %}
<div class="alert alert-success">
  <strong>Aquest punt logístic ha sigut aprovat i està actiu.</strong>
</div>
{% endif %}


<h3 class=headline">Detalls del node logístic:</h3>
<br>
  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
      <div class="card-header" id="logisticnode_{{logisticnode.id}}">
        <h3> {{logisticnode.name}}</h3>
      </div>
      <div class="card-body">
        Localització:  ⚐<i> {{logisticnode.origin_name}}</i>
        {% if object.email %}<br>Email: {{object.email}} {% endif %}
        {% if object.phone %}<br>Teléfon: {{object.phone}} {% endif %}
        <br>M² Estocatge fresc (càmeres): {{object.dimensions_fresh_m2}}m²
        <br>M² Estocatge sec: {{object.dimensions_dry_m2}}m²
        <br>{% if object.has_isothermic %}(✓ Espai estanc aïllat isoterm) {% endif %}
        {% if object.has_frigo_room %}(✓ Cambra frigorífica) {% endif %}
        {% if object.has_fridge %}(✓ Nevera) {% endif %}
        {% if object.has_freezer %}(✓ Congelador) {% endif %}
        {% if object.has_cold_dry %}(✓ Fred sense humitat) {% endif %}
        {% if object.has_toro %}(✓ Toro) {% endif %}
        {% if object.has_traspalet %}(✓ Traspalet) {% endif %}
        {% if object.has_loading_dock %}(✓ Moll de descàrrega camions) {% endif %}      
        {% if object.allows_parking %}(✓ Permet estacionament/aturada de vehicle davant la porta) {% endif %}
        {% if object.timetable %}<br>Horaris: <footer class="blockquote-footer"><cite title="Source Title">{{object.timetable}}</cite></footer>{% endif %}
        <br>Preu per cada dia d'emmagatzematge sec: {{object.price_per_dry_storage_day}}€
        <br>Preu per cada dia d'emmagatzematge fresc (càmeres): {{object.price_per_fresh_storage_day}}€
        
        {% if object.comments %}<br>Comentaris: <footer class="blockquote-footer"><cite title="Source Title">{{object.comments}}</cite></footer>{% endif %}
        {% if object.delivery_companies %}<br>Servei de distribució disponible des del node: <b>{{object.delivery_companies}}</b> {% endif %}
        {% if object.vehicle_types %}<br>Tipus de vehicles disponibles per a distribució del node: <b>{{object.vehicle_types}}</b> {% endif %}
        {% if delivery_areas_list %}
          <br>Zones (*.geojson):
          {% for geojson_file in delivery_areas_list %}
              <cite>{{ geojson_file }}</cite>
          {% endfor %}
        {% endif %}
        <br>Utilitza Coopcycle: <b>{% if object.api_url %}
          Sí. Permisos d'accés: {% if object.check_access_token %} ✅ {% else %}❌{% endif %}
        {% else %}No{% endif %}</b>

    </div>
    <div class="card-footer">
      {%if object.creator == user %}
            <a class="btn btn-danger float-left" href="{% url 'logisticnode-edit' object.id%}">Editar</a>
      {% endif %}
        <span class="float-right"><a class="user-link-orange" href="{% url 'profile-view' object.creator.username %}"><i class="fa fa-user"></i> {{object.creator.userprofile}}</a>
          {%if object.creator != user %}
                <a  class="user-link-orange" href="{% url 'chat' object.creator.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
          {% endif %}
        </span>
    </div>
</div>

{%if object.creator == user %}
<a class="btn btn-success float-left" href="{% url 'logisticnode-user-view' %}">Veure tots els meus nodes logístics</a>
<br>
{% endif %}
<br>
<div id="map" style="width: 100%; height: 500px;"></div>
  <script src="/static/js/leaflet_display.js"></script>
  <script>var bounds = [];
  display_in_map('logisticnode', '{% url "logisticnode-geojson" object.id %}');</script>
  {% if delivery_areas_list %}
    <script>
      {%for geojson_file in delivery_areas_list %}
        display_geojson_in_map('/media/geojson/{{geojson_file}}');
      {% endfor %}
    </script>
  {% endif %}
  
<br>

{% endwith %}
{% endblock %}
