{% load static notifications_tags %}
<script>
console.log('running notifications')

function make_notification() {
  var r = new XMLHttpRequest();
  r.open("GET", '/test_make_notification/', true);
  r.send();
}
function read_all_notifications() {
  var r = new XMLHttpRequest();
  r.open("GET", '/inbox/notifications/api/unread_list/?max=100&mark_as_read=true', true);
  r.send();
}

</script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list2,fill_notification_badge' fetch=20 refresh_period=20 %}
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light py-0 ">
    <a class="navbar-brand" href="/"><img class="navbar-image" src="/static/img/logo.png"></a>
    <a class="navbar-einateca" href="https://einatecagroecologica.pamapam.cat/distribucio-i-comercialitzacio/"><img style="height: 50px;" src="/static/img/einateca.png"></a>


    <button id="navbar-toggler" class="navbar-toggler  ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ml-auto flex-nowrap ">
      <li class="nav-item {% if navbar == 'home' %}active{% endif %}">
        <a class="nav-link"  href="/">CERCAR</a>
      </li>
      <li class="nav-item {% if navbar == 'offer_add' %}active{% endif %}">
        <a class="nav-link "  href="{% url 'tripoffer-add'%}">PUBLICAR RUTA</a>
      </li>
      <li class="nav-item {% if navbar == 'request_add' %}active{% endif %}">
        <a class="nav-link "  href="{% url 'triprequest-add'%}">PUBLICAR COMANDA</a>
      </li>
      <li class="nav-item {% if navbar == 'faqs' %}active{% endif %}">
        <a class="nav-link " href="/page/faqs/">FAQS</a>
      </li>

      <li class="nav-item {% if navbar == 'com-funciona' %}active{% endif %}">
        <a class="nav-link " href="/page/com-funciona/">COM FUNCIONA?</a>
      </li>


      {% if user.is_authenticated %}
          <script type="text/javascript">

            function chat_unseen_count(){
                $.get('/chat/api/unseencount/{{ user.pk }}', function(data){
                    if(data != 0 ){
                      $('#chat_badge_count').html(data)
                    }
                })
            }

            setInterval(chat_unseen_count, 10000);

          </script>

      <ul class="nav navbar-nav float-right">
        <li class="dropdown dropdown-user nav-item  {% if navbar == 'myprofile' %}active{% endif %}"><a class="dropdown-toggle nav-link dropdown-user-link" href="#"
            data-toggle="dropdown">
            <span class="avatar avatar-online"></span>
            <span class="mr-1"><i class="fas fa-user"></i> {{ user.username }}<span class="user-name text-bold-700"></span></span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- url 'user_profile' user.username -->

              <a class="dropdown-item" href="{% url 'profile-view' 'me' %}">El meu perfil</a>
              <a class="dropdown-item" href="{% url 'tripoffer-user-view' %}">Les meves rutes</a>
              <a class="dropdown-item" href="{% url 'triprequest-user-view' %}">Les meves comandes</a>
              <a class="dropdown-item" href="{% url 'storage-user-view' %}">Punts Habituals</a>
              <a class="dropdown-item" href="{% url 'logisticnode-user-view' %}">Nodes Logístics</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}"><i
                  class="ft-power"></i> Abandonar sessió</a>
            </div>
        </li>
        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
            data-toggle="dropdown"><i class="fas fa-bell"></i>
            {% live_notify_badge badge_class="live_notify_badge badge badge-pill badge-default badge-danger badge-default badge-up badge-glow" %}
          </a>
          <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right" style="width:300px">
            <li class="dropdown-menu-header">
               <!-- <a class="dropdown-item text-muted text-center"
                  href="javascript:make_notification()">Probar notificació</a> -->
              <h6 class="dropdown-header m-0">{% live_notify_badge badge_class="live_notify_badge notification-tag badge badge-default badge-danger float-left m-0" %}<span class="grey darken-2">Notificacions</span></h6>
            </li>
            <span style="font-size:small">{% live_notify_list list_class="live_notify_list scrollable-container media-list w-100" %}</span>

            {%if user.notifications.unread.count %}
            <li class="dropdown-menu-footer" style="margin-top:10px"><a class="dropdown-item text-muted text-center"
                href="javascript:read_all_notifications()"><i class="fa fa-check"></i><small>Marcar com vist </small></a></li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link nav-link-label" href="/chat/"><i class="fas fa-comment"></i>
            <span id="chat_badge_count" class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">{%if chat_unread_count %}{{chat_unread_count}}{% endif %}</span>
          </a>
        </li>
      </ul>
      {% else %}
        <li class="nav-item {% if navbar == 'login' %}active{% endif %}">
          <a class="nav-link"  href="{% url 'login' %}">INICIAR SESSIÓ</a>
        </li>
      {% endif %}


    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
