{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}

<h3 class=headline"><a class="btn-danger btn-sm" href="{% url 'tripoffer-detail' object.id %}"> Ruta #{{object.id}}</a>
  {% if object.transport_isothermic %}<span title="Isoterm"><i class="fas fa-temperature-high" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_cold %}<span title="Refrigerat"><i class="fas fa-thermometer-quarter" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_freezer %}<span title="Congelat"><i class="fas fa-snowflake" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_dry %}<span title="Sense humitat"><i class="fas fa-sun" aria-hidden="true"></i></span>{% endif %}
  {% if object.available_seats %}{{object.available_seats}}<i class="fa fa-user-plus" aria-hidden="true"></i>{% endif %}
</h3>

⚐ Origen: {{object.origin_name}}{% if object.steps_name %}<br>Punts intermitjos:{{object.steps_name}}{% endif %}
<br>⚑ Destinació: {{object.destination_name}}
<br>De: {{object.time_depart|date:"D j \d\e F \d\e Y, H:i"}}
<br>
          {% if object.tags %}
            {% for tag in object.tags.all %}
              <span class="badge badge-info" style="margin-right:5px">{{tag}}</span>
            {% endfor %}
          {% endif %}
          {% if object.frequency != 'ONCE' %}
              <a href="/offer/frequent/{{object.frequency_group_id}}"><span class="badge badge-info" style="margin-right:5px">{{object.get_frequency_name}}</span></a>
          {% endif %}

          <span class=" float-right"><a class="user-link-orange" href="{% url 'profile-view' object.driver.username %}"><i class="fa fa-user"></i> {{object.driver.userprofile}}</a>
            {%if object.driver != user %}
                <a  class="user-link-orange" href="{% url 'chat' object.driver.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
            {% endif %}
          </span>
