{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}
<script src="/static/js/model_actions.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<script>
  $(document).ready(function() {
    var anchor = window.location.hash;
    if ($(anchor).length > 0)
        $('html, body').animate({
        scrollTop: $(anchor).offset().top
    }, 2000);
  });
</script>

<h3 class="headline"><span class="badge badge-primary">Total: {{trip_results.all|length}}</span> Ruta regular n. {{frequency_group_id}}
  {% if original_internal_name %} ({{original_internal_name}}){% endif %}</h3>
            {% if not trip_results.all|length %}
                <div class="alert alert-info">
                  No queden rutes actives associades a aquesta ruta regular..
                </div>
            {% else %}
                {% for trip in trip_results %}
                  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                      <div class="card-header" id="offer_{{trip.id}}">
                        <span class="badge badge-secondary float-left" style="margin-top: -20px; margin-left: -30px">#{{trip.id}}
                          {% if trip.internal_name %} {{trip.internal_name}}{% endif %}
                        </span>
                        {% if trip.frequency != 'ONCE' %}
                            <a href="/offer/frequent/{{trip.frequency_group_id}}"><span class="badge badge-info float-right" style="margin-right:5px">{{trip.get_frequency_name}}</span></a>
                        {% endif %}
                        ⚐ {{trip.origin_name}}{{trip.steps_name}} ⟹ ⚑ {{trip.destination_name}}
                        <br><small>Sortida: <i>{{trip.time_depart|date:"D j \d\e F \d\e Y, H:i"}}</i> Arribada: <i>{{trip.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</i></small>
                      </div>
                      <div class="card-body">
                          {% for match in trip_matches %}
                            {% if match.offer == trip %}
                                  {% include "frontend/offer_interactions.html" %}
                            {% endif %}
                          {% endfor %}
                          {% if not trip.matches.all %}
                            Aquesta ruta no ha rebut cap petició de moment :-(
                          {% endif %}
                      </div>
                      <!-- Cambiar rating por https://mdbootstrap.com/docs/standard/components/rating/ -->
                      <div class="card-footer text-right">
                          {% if user == trip.driver and trip.active and not trip.too_late_to_edit %}
                              <a href="javascript:update_trip_offer({{trip.id}},'delete', '{{trip.frequency}}')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                          {% endif %}
                        <div style="float:left;"><a href="{% url 'tripoffer-detail' trip.id %}" class="btn btn-primary btn-sm"><i class="fa fa-bookmark"></i> Detalls de la ruta</a></div>

                      </div>
                </div>
                {% endfor %}
            {% endif %}

<!-- Form to delete the item -->
<div id="dialog-confirm" title="Eliminar ruta freqüent?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Vols eliminar la ruta actual o també totes les de la sèrie?</p>
</div>
{% endblock %}
