{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <!-- Searching addresses -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0&callback=initMap"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
  <script src="/static/js/intermediate_points.js"></script>
  <script src="/static/js/third_parties/date-ca-ES.js" type="text/javascript"></script>
  <script src="/static/js/model_actions.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  {{ form.media }}
{% endblock %}

{% block content %}
{% if object.too_late_to_edit and object.has_pending_requests %}
<div class="alert alert-danger">
     <strong>La ruta no es pot editar perquè ha finalitzat o té encara peticions de comandes pendents o acceptades.</strong>
</div>
{% else %}
{% if object.has_pending_requests %}
<div class="alert alert-warning">
     <strong>Aquesta ruta té comandes acceptades o pendents. Assegura't que els canvis que fas a la ruta no hi afecten. Si ja no pots assumir les comandes, cancel·la-les.</strong>
</div>
{% endif %}
<h3 class=headline">{% if object %}Editar{% else %}Publicar{% endif %} ruta</h3>
<i>Faré una ruta d'entrega i vull compartir espai al meu vehicle per dur les comandes d'altres.</i>
<br><br>

{% if form.errors %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
         <strong>{{form.non_field_errors}}</strong>
    </div>
  {% endif %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{field.name}}: {{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
{% endif %}

<form id="form_new_offer" method="post" onsubmit="return onOfferSubmit()">
{% csrf_token %}
<input type="hidden" id="object_id" name="object_id" value="{{object.id}}">
{% if match_object %}
<div class="alert alert-info">
  Aquesta ruta es crearà cobrint la comanda: <a href="{% url 'triprequest-detail' match_object %}">#{{match_object}}</a><br>
</div>
<input type="hidden" id="match_object" name="match_object" value="{{match_object}}">
{% endif %}
{{ form.internal_name|as_crispy_field }}
{% if internal_name %}<script>$('#id_internal_name').val("{{internal_name|safe}}");</script>{% endif %}

<input type="hidden" id="origin_location" name="origin_location" value="{{origin_location}}">
<input type="hidden" id="destination_location" name="destination_location" value="{{destination_location}}">
<input type="hidden" id="id_original_time_depart" name="original_time_depart" value="{{object.time_depart|date:'Y-m-d H:i'}}">
<input type="hidden" id="id_original_time_arrival" name="original_time_arrival" value="{{object.time_arrival|date:'Y-m-d H:i'}}">



<input type="hidden" id="edit_step_location_1" value="{{step_location_1}}">
<input type="hidden" id="edit_step_name_1" value="{{step_name_1}}">
<input type="hidden" id="edit_step_location_2" value="{{step_location_2}}">
<input type="hidden" id="edit_step_name_2" value="{{step_name_2}}">
<input type="hidden" id="edit_step_location_3" value="{{step_location_3}}">
<input type="hidden" id="edit_step_name_3" value="{{step_name_3}}">
<input type="hidden" id="edit_step_location_4" value="{{step_location_4}}">
<input type="hidden" id="edit_step_name_4" value="{{step_name_4}}">
<input type="hidden" id="edit_step_location_5" value="{{step_location_5}}">
<input type="hidden" id="edit_step_name_5" value="{{step_name_5}}">
<input type="hidden" id="edit_step_location_6" value="{{step_location_6}}">
<input type="hidden" id="edit_step_name_6" value="{{step_name_6}}">

{{ form.origin_name|as_crispy_field }}
{% if user_storage_list %}
  <div id="div_origin_storage">
    <select class="form-select" id="origin_storage" aria-label="Punts habituals" style="width:100%">
        <option selected>Punt habitual de ruta</option>
        {% for storage in user_storage_list %}
          <option value="{{ storage.id }}">{% if storage.is_public %}[Públic]: {% else %}[Privat]: {% endif %}{{ storage.name|safe|upper }} : {{storage.origin_name|safe}}</option>
        {% endfor %}
    </select>
  </div>

    <script type="text/javascript">
      var $storage_dict = {}
      {% for storage in user_storage_list %}
        $storage_dict[{{storage.id}}] = {"location": "{{storage.origin_location}}", "address": "{{storage.origin_name|safe}}"};
      {% endfor %}
      $("#origin_storage").change(function() {
        value = $( this ).val();
        if(value in $storage_dict){
            $('#origin_location').val($storage_dict[value]["location"]);
            $('#id_origin_name').val($storage_dict[value]["address"]);
        }
      });
      $( "#div_origin_storage" ).insertAfter($('label[for="id_origin_name"]') );
    </script>
{% endif %}





<div id="intermediate_points">

</div>

<button type="button" class="btn btn-primary" id="button_new_point" onclick="newIntermediatePoint('','');" >+ Punt Intermedi</button>
<small style="margin-bottom:10px" class="form-text text-muted">Poblacions per on passa la ruta (si hi ha diverses opcions de carreteres) i/o parades que faré.</small>
{{ form.destination_name|as_crispy_field }}
{% if user_storage_list %}
  <div id="div_destination_storage">
  <select class="form-select" id="destination_storage" aria-label="Punts habituals" style="width:100%">
      <option selected>Punt habitual de ruta</option>
      {% for storage in user_storage_list %}
        <option value="{{ storage.id }}">{% if storage.is_public %}[Públic]: {% else %}[Privat]: {% endif %}{{ storage.name|safe|upper }} : {{ storage.origin_name|safe }}</option>
      {% endfor %}
    </select>
 </div>
<script type="text/javascript">
  $("#destination_storage").change(function() {
    value = $( this ).val();
    if(value in $storage_dict){
        $('#destination_location').val($storage_dict[value]["location"]);
        $('#id_destination_name').val($storage_dict[value]["address"]);
    }
  });
  $( "#div_destination_storage" ).insertAfter($('label[for="id_destination_name"]') );
</script>
{% endif %}
<small style="margin-bottom:10px" class="form-text text-muted">Si fas una ruta d'anada i tornada, indica el mateix municipi de l'anada en aquesta casella. Tingues en compte, doncs, que l'hora d'arribada que hauràs d'indicar, és l'hora en què tornaràs al punt d'origen.
Si fas una parada llarga al punt de destí, potser és millor crear una nova ruta de tornada.</small>

<script src="/static/js/auto-complete-sharetrip.js"></script>
{% if origin_name %}<script>$('#id_origin_name').val("{{origin_name|safe}}");</script>{% endif %}
{% if destination_name %}<script>$('#id_destination_name').val("{{destination_name|safe}}");</script>{% endif %}

     <div class="row">
       <div class="col-6">
         {{ form.time_depart|as_crispy_field }}
       </div>
       <div class="col-6">
         {{ form.time_arrival|as_crispy_field }}
       </div>
    </div>
    <script type="text/javascript">
    $("#id_time_depart").on("input", function(){
            $time_depart = $(this).val()
            $original_time_depart = $('#id_original_time_depart').val()
            if($original_time_depart){
            	$original_time_depart = Date.parse($original_time_depart)
            	$original_time_arrival = $('#id_original_time_arrival').val()
            	$original_time_arrival = Date.parse($original_time_arrival)
            	$min_difference = ($original_time_arrival - $original_time_depart) / 60000
            	$time_arrival_with_diff = Date.parse($time_depart).addMinutes($min_difference).toString('dd/MM/yyyy HH:mm');
              $("#id_time_arrival").val($time_arrival_with_diff);
            }else{
              $("#id_time_arrival").val($time_depart);
            }

            $depart_date = $("#id_time_depart").data("datetimepicker").date();
            if($depart_date){
              $time_depart_date = $("#id_time_depart").data("datetimepicker").date().toDate()
              var maxRepeatDate = Date.parse($time_depart_date).addMonths(3).toString('dd/MM/yyyy');
              $('#id_repeat_until').val(maxRepeatDate);
            }
        });
    </script>

    {% if object.time_depart %}<script>$('#id_time_depart').val("{{object.time_depart|date:'Y-m-d H:i'}}");</script>{% endif %}
    {% if object.time_arrival %}<script>$('#id_time_arrival').val("{{object.time_arrival|date:'Y-m-d H:i'}}");</script>{% endif %}
    {% if time_depart %}<script>$('#id_time_depart').val("{{time_depart}}");</script>{% endif %}
    {% if time_arrival %}<script>$('#id_time_arrival').val("{{time_arrival}}");</script>{% endif %}
    <div class="row">
    {% if object.frequency %}
    <div class="col-6"><b>Freqüència de la ruta:</b> {{object.get_frequency_name}}</div>
    <div style="display:none">{{ form.frequency|as_crispy_field }}</div>
    <script>
      $('#id_frequency').val("{{object.frequency}}");
    </script>
    {% else %}
        <div class="col-6">
          {{ form.frequency|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.repeat_until|as_crispy_field }}

          {% if repeat_until %}
              <script>
                $('#id_repeat_until').val("{{repeat_until}}");
              </script>
          {% endif %}
        </div>
        <script>$('#div_id_repeat_until').hide();
          $("#id_frequency").change(function() {
            value = $( this ).val();
            if(value == 'ONCE'){
              $('#div_id_repeat_until').hide();
            }
            else{
              $('#div_id_repeat_until').show();
            }
          });
        </script>
        {% if frequency %}
            <script>
              $('#id_frequency').val("{{frequency}}");
              value = $("#id_frequency").val();
              if(value == 'ONCE'){
                $('#div_id_repeat_until').hide();
              }
              else{
                $('#div_id_repeat_until').show();
              };
        {% endif %}
        </script>
    {% endif %}

      <div class="col-6">
        {{ form.max_detour_km|as_crispy_field }}
        {% if max_detour_km %}<script>$('#id_max_detour_km').val("{{max_detour_km}}".replace(',','.'));</script>{% endif %}
      </div>
      <div class="col-6">
        {{ form.available_seats|as_crispy_field }}
        {% if available_seats %}<script>$('#id_available_seats').val("{{available_seats}}");</script>{% endif %}
      </div>
      <div class="col-6">
        {{ form.available_space|as_crispy_field }}
        {% if available_space %}<script>$('#id_available_space').val("{{available_space|safe}}");</script>{% endif %}
      </div>
   </div>
   <div class="row">
     <div class="col-6">
       {{ form.cost_km|as_crispy_field }}
       {% if cost_km %}<script>$('#id_cost_km').val("{{cost_km}}".replace(',','.'));</script>{% endif %}
     </div>
     <div class="col-6">
       {{ form.vehicle|as_crispy_field }}
       {% if vehicle %}<script>$('#id_vehicle').val("{{vehicle|safe}}");</script>{% endif %}
     </div>

  </div>
   <div class="row">
     <div style="margin-top:10px; margin-left:10px">
       <button type="button" style="margin-bottom: .5rem;" class="btn btn-danger filter-label" id="help_filters" data-toggle="popover" data-html="true" title="Condicions de transport" data-content="Popover can be closed by clicking anywhere">?</button>
       <label class="btn btn-primary filter-label"> <input name="transport_isothermic" {% if transport_isothermic %}checked{% endif %} type="checkbox" autocomplete="off"> isoterm</label>
       <label class="btn btn-primary filter-label"> <input name="transport_cold" {% if transport_cold %}checked{% endif %} type="checkbox" autocomplete="off"> refrigerat</label>
       <label class="btn btn-primary filter-label"> <input name="transport_freezer" {% if transport_freezer %}checked{% endif %} type="checkbox" autocomplete="off"> congelat</label>
       <label class="btn btn-primary filter-label"> <input name="transport_dry" {% if transport_dry %}checked{% endif %} type="checkbox" autocomplete="off"> sense humitat </label>
     </div>
   </div>
   <div class="row">
     <div class="card-body" style="margin-left:-5px">
         <label>Etiquetes:</label>
         <button type="button" style="margin-bottom: .5rem;" class="btn btn-dark btn-circle" id="help_tags" data-toggle="popover" data-html="true"  data-content="xxxxx">?</button>

         <input name="tags" type="text" data-role="tagsinput" class="form-control" value={{tags|safe}}>
     </div>
   </div>
    <div class="row">
        <div class="col-12">
        {{ form.comment|as_crispy_field }}
        {% if comment %}<script>$('#id_comment').val("{{comment|safe}}");</script>{% endif %}
        </div>
    </div>

    {% if object %}
      <a href="{% url 'tripoffer-detail' object.id %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar edició </a>
      &nbsp; <a onclick="javascript:show_scope_modal_dialog('{{object.frequency}}')" id="button_submit"  class="btn btn-success" style="color: white;"><i class="far fa-save"></i> Guardar ruta</a>
    {% else %}
      <a href="{% url 'tripoffer-user-view' %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar </a>
      <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Publicar ruta</button>
    {% endif %}
  </form>
  <script>
    $('#help_filters').popover({trigger: 'focus'})
    $('#help_filters').attr('data-content', $filter_help_text_offer + $filter_help_text_content)
    $('#help_tags').popover({trigger: 'focus'})
    $('#help_tags').attr('data-content', $tags_help_text)
    if( $('#id_origin_name').val() && $('#origin_location').val() == ''){
      $('#id_origin_name').val('');
    }
    if( $('#id_destination_name').val() && $('#destination_location').val() == ''){
      $('#id_destination_name').val('');
    }
    function onOfferSubmit() {
      if($('#origin_location').val() == '' || $('#destination_location').val() == ''){
        alert("S'ha de completar el punt de sortida i d'arribada. Selecciona una localitat de la llista desplegable.");
        return false;
      }
    }


  </script>

{% endif %}

<!-- Form to delete the item -->
<div id="dialog-confirm" title="Editar ruta freqüent?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Vols guardar els canvis només de la ruta actual o també totes les de la sèrie?</p>
</div>
{% endblock %}
