{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load simple_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Google maps Widget -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  <link rel="stylesheet" href="/static/css/ratings.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

{% endblock %}

{% block content %}
{% csrf_token %}

<form id="postFormCoopcycle" method="post" action="{{logistic_node_checkout_form_url}}">
  {% include 'frontend/coopcycle_form_hidden_inputs.html' %}
</form>

<script src="/static/js/model_actions.js"></script>
<h3 class=headline">Detalls de la ruta #{{object.id}}
{%if object.driver == user and object.internal_name %} "{{object.internal_name}}"
{% endif %}
</h3>
<center>
  {%if object.driver == user %}<a href="{% url 'tripoffer-user-view' %}" class="btn btn-primary"><i class="fa fa-bookmark"></i> Mostrar totes les meves rutes</a>{% endif %}
  {%if object.frequency_group_id  %}<a  href="/offer/frequent/{{object.frequency_group_id}}" class="btn btn-info"  ><i class="fa fa-bookmark"></i> Mostrar rutes d'aquesta sèrie {{object.get_frequency_name}}</a>{% endif %}
</center>
<br>
<div class="shadow-lg p-3 mb-5 bg-white rounded  card">
    <div class="card-header ">️⚐ Origen: {{object.origin_name}}
      {%if object.driver == user and object.origin_logisticnode %}
      <div class="alert alert-primary" role="alert">
        <small>Has triat com a transportista agafar la comanda des del Node Logístic <b><a href="{%url 'logisticnode-detail' object.origin_logisticnode.id %}">{{object.origin_logisticnode.name}}</a></b> ({{object.origin_logisticnode.origin_name}}). 
          <ul>
            <li>Pots agafar la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' object.origin_logisticnode.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
            <li>Pots contractar els serveis de recollida d'última milla en bicicleta de <b>{{object.origin_logisticnode.name}}</b> fent click <a href="javascript:openCoopCycleForm({% format_tripobject_to_coopcycle_parameters object object.origin_logisticnode 0 %})">aquí</a> per
              a recollir-la desde el punt d'origen: <b>{{object.origin_last_mile_name}}</b>.</li>
          </ul>
        </small> 
      </div>
      {% else %}
          {% for result in coopcycle_only_origin_covered %}
          <div class="alert alert-primary" role="alert">
            <small>Hi ha el Node Logístic <b><a href="{%url 'logisticnode-detail' result.logistic_node.id %}">{{result.logistic_node.name}}</a></b>({{result.logistic_node.origin_name}}) a la zona del origen on ha de sortir la teva comanda. 
              <ul>
                <li>Pots agafar la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' result.logistic_node.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
                <li>Pots contractar els serveis de recollida d'última milla en bicicleta de <b>{{result.logistic_node.name}}</b> (<b>preu aproximat: {{result.cost}}€</b>).</li>
              </ul>
            <br><a class="btn-sm btn-danger"  href="{% url 'tripoffer-take-logisticnode' object.id result.logistic_node.id 'origin' %}">  <i class="fa fa-bookmark" aria-hidden="true"></i><small> Estic d'acord</small></a>
            </small> 
          </div>
          {% endfor %}
      {% endif %}
      {% if object.steps_name %}<br>Punts intermitjos:{{object.steps_name}}{% endif %}
      <br>
      ⚑ Destinació: {{object.destination_name}}

          {%if object.driver == user and object.destination_logisticnode %}
          <div class="alert alert-primary" role="alert">
            <small>Has triat descarregar la teva comanda al Node Logístic <b><a href="{%url 'logisticnode-detail' object.destination_logisticnode.id %}">{{object.destination_logisticnode.name}}</a></b> ({{object.destination_logisticnode.origin_name}}). 
              <ul>
                <li>Pots demanar al teu client final que vingui a recollir la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' object.destination_logisticnode.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
                <li>Pots fer arribar la teva comanda fins a la destinació final <b>{{object.destination_last_mile_name}}</b>. Clica <a href="javascript:openCoopCycleForm({% format_tripobject_to_coopcycle_parameters object object.destination_logisticnode 1 %})">aquí</a> per contractar els serveis d'entrega d'última milla en bicicleta de <b>{{object.destination_logisticnode.name}}</b></li>
              </ul>
            </small> 
          </div>
          {% else %}
              {% for result in coopcycle_only_destination_covered %}
              <div class="alert alert-primary" role="alert">
                <small>Hi ha el Node Logístic <b><a href="{%url 'logisticnode-detail' result.logistic_node.id %}">{{result.logistic_node.name}}</a></b>({{result.logistic_node.origin_name}}) a la zona de la destinació final on ha d'arribar la teva comanda. 
                  <ul>
                    <li>Pots demanar al teu client final que vingui a recollir la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' result.logistic_node.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
                    <li>Pots fer arribar la teva comanda fins a la destinació final <b>{{object.destination_name}}</b>. Clica <a href="{% url 'triprequest-take-logisticnode' object.id result.logistic_node.id 'destination' %}">aquí</a> per contractar els serveis d'entrega d'última milla en bicicleta de <b>{{object.destination_logisticnode.name}} (<b>preu aproximat: {{result.cost}}€</b>).</b></li>
                  </ul>
                <br><a class="btn-sm btn-danger"  href="{% url 'tripoffer-take-logisticnode' object.id result.logistic_node.id 'destination' %}">  <i class="fa fa-bookmark" aria-hidden="true"></i><small> Estic d'acord</small></a> 
                </small> 
              </div>
              {% endfor %}
          {% endif %}
    </div>
    <div class="card-body">
          <p class="card-text">De: {{object.time_depart|date:"D j \d\e F \d\e Y, H:i"}}<br>A: {{object.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</p>
          <p class="card-text">
            {% if object.transport_isothermic %}<i class="fas fa-temperature-high" aria-hidden="true"></i> (Isoterm){% endif %}
            {% if object.transport_cold %}<i class="fas fa-thermometer-quarter" aria-hidden="true"></i> (Refrigerat){% endif %}
            {% if object.transport_freezer %}<i class="fas fa-snowflake" aria-hidden="true"></i> (Congelat){% endif %}
            {% if object.transport_dry %}<i class="fas fa-sun" aria-hidden="true"></i> (Sense humitat){% endif %}
            {% if object.available_seats %}<br><i class="fa fa-user-plus" aria-hidden="true"></i> {{object.available_seats}} seients lliures...{% endif %}
            {% if object.cost_km %}<br><i class="fas fa-gas-pump"></i> El cost per km es de <b>{{object.cost_km}} €</b>{% endif %}
            {% if object.max_detour_km %}<br><i class="fas fa-code-branch"></i> El màxim desviament que voldria fer el transportista es de <b>{{object.max_detour_km}} km</b>{% endif %}
            {% if object.available_space %}<br><i class="fas fa-dolly"></i> Espai disponible al vehicle: <b>{{object.available_space}}</b>{% endif %}
          </p>
          {% if object.vehicle %}<br><h5 class="card-title"><i class="fa fa-truck" ></i> Vehicle: {{object.vehicle}}</h5>{% endif %}
          {% if object.comment %}<footer class="blockquote-footer">Comentari: <cite title="Source Title">{{object.comment}}</cite></footer>{% endif %}
          {% if object.tags %}
            <div class="float-right">
            {% for tag in object.tags.all %}
              <span class="badge badge-info float-right" style="margin-right:5px">{{tag}}</span>
            {% endfor %}
            </div>
          {% endif %}
          {% if object.frequency != 'ONCE' %}
            <div class="float-right">
              <a href="/offer/frequent/{{object.frequency_group_id}}"><span class="badge badge-info float-right" style="margin-right:5px">{{object.get_frequency_name}}</span></a>
            </div>
          {% endif %}

    </div>

    <div class="card-footer">
      {%if object.active %}
        {%if object.driver == user %}
              {%if too_late_to_edit %}<br><font color="grey"><small>Les rutes no es poden editar/eliminar 24h abans de l'hora de sortida si tenen peticions de comandes pendents o acceptades, o si ja han completat una entrega.</small></font><br>
              {% else %}<a class="btn btn-danger btn-sm"  href="{% url 'tripoffer-edit' object.id%}"><i class="fas fa-edit"></i></a>
                  {% if object.active %}
                      &nbsp;<a href="javascript:update_trip_offer({{object.id}},'delete', '{{object.frequency}}')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                  {% endif %}
              {% endif %}
          {% endif %}
      {% endif %}
        {%if object.driver == user %}
          <!-- Indepently if the offer is active or not -->
          &nbsp;<a class="btn btn-success"  href="{% url 'tripoffer-duplicate' object.id%}">Duplicar ruta</a>

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-clipboard-list fa-xs"></i> Informe de Ruta</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'tripoffer-summary' 'html' object.id  %}">Pàgina Web</a>
                  <a class="dropdown-item" href="{% url 'tripoffer-summary' 'pdf' object.id  %}">PDF</a>
                  <a class="dropdown-item" href="{% url 'tripoffer-summary' 'csv' object.id  %}">Full de càlcul</a>
                </div>
        {% endif %}



        <span class=" float-right"><a class="user-link-orange" href="{% url 'profile-view' object.driver.username %}"><i class="fa fa-user"></i> {{object.driver.userprofile}}</a>
          {%if object.driver != user %}
              <a  class="user-link-orange" href="{% url 'chat' object.driver.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
          {% endif %}
        </span>
    </div>

</div>



{% if trip_matches and object.driver == user %}
<div class="shadow-lg p-3 mb-5 bg-white rounded  card">
  <div class="card-header">Interaccions</div>
  <div class="card-body">
    {% for match in trip_matches %}
        {% include "frontend/offer_interactions.html" %}
    {% endfor %}
  </div>
  </div>
{% endif %}

{%if not object.active %}
<div class="alert alert-warning">
  <strong>Info!</strong> La ruta ha finalitzat.
</div>
{% else %}
      {%if object.driver == user %}
          <h3>Comandes que encaixen amb la teva ruta {%if trip_results.all|length %}<span class="badge badge-primary">{{trip_results.all|length}}</span>{% endif %}</h3>

            {%if trip_results.all|length %}
              <small>(cal escollir-ne les que t'interessi dur)</small>
              {% include "frontend/trip_results.html" %}

            {% else %}
                <small>De moment,no hi ha comandes que necessitin ser transportades dins la teva ruta; si en sorgeixen, t'arribarà un avís a través de l'app (per això, és important revisar l'app de tant en tant durant els propers dies).</small>
            {% endif %}
<br>
<br>
        <a class="btn btn-secondary"  href="{% url 'tripoffer-user-view'%}#offer_{{object.id}}">Veure peticions rebudes</a>

      {% else %}
            {% if trip_matches %}
            <div class="shadow-lg p-3 mb-5 bg-white rounded  card">
              <div class="card-header">Interaccions</div>
              <div class="card-body">
                {% for match in trip_matches %}
                    {% include "frontend/request_interactions.html" %}
                {% endfor %}
              </div>
              </div>
            {% endif %}
          <br>
          <h3 class="headline">Vols demanar que aquesta ruta transporti la teva comanda?</h3>
          {% for trip in user_trip_requests %}
              {% if not request.GET.myrequest or request.GET.myrequest == trip.id|slugify %}
                <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                    <div class="card-header">️
                      ⚐ {{trip.origin_name}} ⟹ ⚑ {{trip.destination_name}}
                      <br><small>Data min: <i>{{trip.min_time_arrival}}</i> Data max: <i>{{trip.max_time_arrival}}</i></small>
                      <br><br><a href="javascript:add_match('{{object.id}}', '{{trip.id}}', 'client')" class="btn btn-sm btn-primary"><i class="fa fa-bookmark"></i> Demanar</a>
                    </div>
                </div>
              {% endif %}
          {% endfor %}
          {% if not request.GET.myrequest %}
            <center><a id="url_create" href="{% url 'triprequest-add' %}?match_object={{object.id}}" class="btn btn btn-primary"><i class="fa fa-bookmark"></i> Demanar que la ruta transporti la meva comanda</a></center>
          {% endif %}
      {% endif %}
{% endif %}
<br>
<br>
<div id="map" style="width: 100%; height: 500px;"></div>
<script src="/static/js/leaflet_display.js"></script>
<script>display_in_map('offer', '{% url "tripoffer-geojson" object.id %}');</script>
<script>
  url_params = window.location.search.substring(1);
  if($("#url_create").length){
    $("#url_create")[0].href += "&" +url_params;
  }
</script>

<!-- Form to delete the item -->
<div id="dialog-confirm" title="Eliminar ruta freqüent?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Vols eliminar la ruta actual o també totes les de la sèrie?</p>
</div>
{% endblock %}
