{% if match.status == "PENDING" %}
  <span class="badge badge-warning">Pendent</span><small> <i>{{match.modified}}</i>:  Encara no has respost a <a href="{% url 'triprequest-detail' match.request.id %}">la petició de transport de la comanda</a>.</small>
{% elif match.status == "ACCEPTED" %}
    <span class="badge badge-info">Acceptat</span><small> <i>{{match.modified}}</i>:  Has acceptat <a href="{% url 'triprequest-detail' match.request.id %}">dur la comanda #{{match.request.id}}</a>. {% if match.request.client %}Poseu-vos en <a href="{% url 'profile-view' match.request.client.username %}">contacte</a>.{% endif %}</small>
      <a href="{%url 'tripmatch-delivery' match.id %}" class="btn btn-danger btn-sm" title="Entregat"><small> <i class="fa fa-archive"> Confirmar Entrega</i></small></a>
    {% if trip.active %}
      <a href="javascript:update_match_status({{match.id}},'REJECTED')" class="btn btn-danger btn-sm" title="Declinar"><small> <i class="fa fa-ban"> Declinar</i></small></a>
    {% endif %}
{% elif match.status == "REJECTED" %}
    <span class="badge badge-danger">Declinat</span><small> <i>{{match.modified}}</i>:  Has declinat <a href="{% url 'triprequest-detail' match.request.id %}">dur la comanda #{{match.request.id}}</a> amb el comentari: <i>{{match.driver_comment}}</i></small>
{% elif match.status == "CANCELED" %}
    <span class="badge badge-danger">Cancel·lada</span><small> <i>{{match.modified}}</i>: {% if match.request.client %}<a href="{% url 'profile-view' match.request.client.username %}">{{match.request.client.username}}</a>{% else %} NOUSER {% endif %} ha cancel·lat <a href="{% url 'triprequest-detail' match.request.id %}">la petició de transport de la comanda #{{match.request.id}}</a> amb el comentari: <i>{{match.client_comment}}</i></small>
{% elif match.status == "COMPLETED" and match.driver_rating == None %}
  <span class="badge badge-primary">Finalitzat</span> <small>La ruta ha finalitzat, pots valorar <a href="{% url 'triprequest-detail' match.request.id %}">el transport de la comanda #{{match.request.id}}</a>.</small> <a href="{% url 'tripmatch-review' match.id %}" class="btn btn-success btn-sm" title="Valorar"><small><i class="fa fa-star">Valorar</i></small></a>
{% elif match.status == "REVIEW_FROZEN" and match.client_rating != None %}
  <span class="badge badge-primary">Valorat</span> <small>{% if match.request.client %}<a href="{% url 'profile-view' match.request.client.username %}">{{match.request.client.username}}</a>{% else %} NOUSER {% endif %} de <a href="{% url 'triprequest-detail' match.request.id %}">la comanda #{{match.request.id}}</a> t'ha fet una valoració de ({{match.client_rating}}/5) punts amb el comentari: <i>{{match.client_comment}}</i>. </small>
{% elif match.status == "COMPLETED" or match.status == "REVIEW_FROZEN" and match.driver_rating != None %}
  <span class="badge badge-primary">Valorat</span> <small>Has valorat <a href="{% url 'triprequest-detail' match.request.id %}">el transport de la comanda #{{match.request.id}}</a> amb ({{match.driver_rating}}/5) punts amb el comentari: <i>{{match.driver_comment}}</i>. </small>
{% endif %}
<br>
