{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
              <div class="alert alert-danger" role="alert">{{message}}</div>
            {% else %}
              <div class="alert alert-secondary" role="alert">{{message}}</div>
            {% endif %}
        {% endfor %}
{% endif %}

<h3 class=headline">Saldo de {{username}}: <i class="fa fa-trophy"></i> <b>{{user_points}} RUCs</b></h3>
<br>

<div class="alert alert-primary" role="alert">Encara no saps que son els punts RUCs? Fes clic <a href="/page/faqs/#que_son_RUCS">ací</a> per a informar-te.</div>
<div class="shadow-lg p-3 mb-5 bg-white rounded  card">
    <div class="card-header"
      <br>{% if not same_user %}
          <form method="post">
            {% csrf_token %}
            <div class="row" style="margin-bottom:10px">Fer una transacció de RUCs a &nbsp;<b> {{username}}</b> &nbsp;(dels teus {{sender_points}} RUCs)
            </div>
            <div class="row" style="margin-bottom:10px">
                <input type="number" class="form-control" name="amount_to_send" placeholder="Quantitat a enviar">
            </div>
            <div class="row">
                <input class="btn btn-success" type="submit" value="Fer pagament">
           </div>
          </form>
          {% endif %}</div>
    <div class="card-body">
          <p class="card-text"><br><b>Historial de transaccions</b>:
            {% if transactions %}
              <ul>
              {% for t in transactions %}
                <li>{{t.timestamp}}: <b>{{t.data.payment_amount}} RUCs</b> <i>«{{t.data.payment_msg|safe}}»</i> </li>
              {% endfor %}
              </ul>
            {% endif %}</p>


    </div>
    <div class="card-footer">

    </div>
</div>


{% if object.user == user %}
  <a class="btn btn-danger"  href="{% url 'profile-edit' object.user%}">Editar perfil</a>
  <a class="btn btn-warning"  href="{% url 'storage-user-view' %}">Editar Punts habituals</a><br><br>
{% endif %}

{% endblock %}
