{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-info">
  <strong>Info!</strong> La informació privada només estarà disponible per a qui tinga alguna ruta en comú.<br>Més info sobre la privacitat de les dades <b><a href="/page/politica-privacitat">aquí</a></b>.
</div>
  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class='col-md-6'>
      {{ field|as_crispy_field }}
    </div>
{% endfor %}


{% csrf_token %}
<br>
    <a type="button" href="{% url 'password_reset' %}" class="btn btn-danger float-right">Canviar contrasenya</a>
    <button type="submit" class="btn btn-success">Guardar perfil</button>
  </form>
{% endblock %}
