{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% csrf_token %}
<h3 class=headline">Detalls de l'usuari {{object.user.username}} {% if object.user != user %}<a  href="{% url 'chat' object.user.username %}"><i class="fas fa-comments"></i></a>{% endif %}</h3>
<br>
<div class="shadow-lg p-3 mb-5 bg-white rounded  card">
    <div class="card-header">️<b>Nom</b>: {{object.user.first_name}}<br><b>Cognoms</b>: {{object.user.last_name}}</div>
    <div class="card-body">
          {% if can_see_private_details %}
            {% if object.user.email %}<i class="fas fa-envelope"></i><a href="mailto:{{object.user.email}}"> {{object.user.email}}</a><br>{% endif %}
            {% if object.phone %}<i class="fa fa-phone" ></i><a href="tel:{{object.phone}}"> {{object.phone}}</a>
              {% if object.extra.im_telegram %}<a target="_blank" href="https://t.me/{% if '+' not in object.phone %}+34{% endif %}{{object.phone}}"><i class="fab fa-telegram fa-2x"></i></a>{% endif %}
              {% if object.extra.im_whatsapp %}<a target="_blank" href="whatsapp://send?phone={% if '+' not in object.phone %}+34{% endif %}{{object.phone}}"><i class="fab fa-whatsapp fa-2x"></i></a>{% endif %}
              {% if object.extra.im_signal %}<a href="javascript:alert('Disponible via Signal. Afegeix el número de telèfon en els contactes del teu telèfon i comença a xatejar.')"><i class="far fa-comment fa-2x"></i></a>{% endif %}
              {%if object.user != user %}
                      <a class="user-link" href="{% url 'chat' object.user.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
              {% endif %}
            {% endif %}
            
          {% endif %}

          {% if object.organization %}<p class="card-text"><br><b>Organització</b>: {{object.organization}}</p>{% endif %}
          <p class="card-text"><br><b>Valoracions rebudes</b>:
            {% if object.rating.total_received %}
              <b>{{object.rating.total_received}} valoracions</b> amb una mitjana de <b>{{object.rating.avg_received|floatformat}}/5 punts</b>.
              <ul>
              {% for review in object.rating.reviews_received %}
                <li><small>{{review.date}}</small>: <a href="{% url 'profile-view' review.reviewer %}">{{review.reviewer}}</a> t'ha valorat amb {{review.points}}/5 punts amb el comentari <i>«{{review.comment}}»</i> </li>
              {% endfor %}
              </ul>
            {% else %}No s'ha rebut cap valoració.{% endif %}</p>

          <p class="card-text"><br><b>Valoracions fetes</b>:
            {% if object.rating.total_sent %}
              {{object.rating.total_sent}} valoracions amb una mitjana de <b>{{object.rating.avg_sent|floatformat}}/5 punts</b>.
              <ul>
              {% for review in object.rating.reviews_sent %}
                <li><small>{{review.date}}</small>: Has valorat amb {{review.points}}/5 punts a <a href="{% url 'profile-view' review.reviewer %}">{{review.reviewer}}</a> amb el comentari <i>«{{review.comment}}»</i> </li>
              {% endfor %}
              </ul>
            {% else %}No s'ha fet cap valoració.{% endif %}</p>


    </div>
    <!-- Cambiar rating por https://mdbootstrap.com/docs/standard/components/rating/ -->
    <div class="card-footer">
        <i class="fa fa-leaf"></i> <b>CO<sub>2</sub> estalviat al planeta</b>: {{object.co2_saved}}kg.
        <br><i class="fa fa-trophy"></i> <b>Punts aconseguits</b>: <a href="{% url 'points-view' object.user.username %}" target="_blank">{{object.points}} RUCS</a>
        {% if object.notes %}<br><i class="fa fa-notebook"></i> <b>Notes</b>: {{object.notes}}{% endif %}
    </div>
</div>


{% if object.user == user %}
  <a class="btn btn-danger"  href="{% url 'profile-edit' object.user%}">Editar perfil</a>
  <a class="btn btn-warning"  href="{% url 'storage-user-view' %}">Editar Punts habituals</a><br><br>
{% else %}
  <a class="btn btn-danger"  href="{% url 'chat' object.user.username %}"><i class="fas fa-comments"></i> Xatejar amb {{object.user.username}}</a>

{% endif %}

{% endblock %}
