{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load simple_tags %}

{% block extra_head %}

  <!-- Google maps Widget -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>

  <link rel="stylesheet" href="/static/css/ratings.css">

  <script src="/static/js/model_actions.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

{% endblock %}

{% block content %}
{% csrf_token %}

<form id="postFormCoopcycle" method="post" action="{{logistic_node_checkout_form_url}}">
  {% include 'frontend/coopcycle_form_hidden_inputs.html' %}
</form>

<script src="/static/js/model_actions.js"></script>
<h3 class=headline">Detalls de la comanda #{{object.id}}
  {%if object.client == user and object.internal_name %} "{{object.internal_name}}"
  {% endif %}
</h3>
<br>
<div class="card">
  <div class="card-header ">
      ⚐ Origen: {{object.origin_name}} {%if object.origin_logisticnode %}<b>(Node logístic: <a href="{%url 'logisticnode-detail' object.origin_logisticnode.id %}">{{object.origin_logisticnode.name}}</a>)</b>{% endif %}
      
      {%if object.client == user and object.origin_logisticnode %}
      <div class="alert alert-primary" role="alert">
        <small>Has triat que el transportista agafe la teua comanda des del Node Logístic <b><a href="{%url 'logisticnode-detail' object.origin_logisticnode.id %}">{{object.origin_logisticnode.name}}</a></b> ({{object.origin_logisticnode.origin_name}}). 
          <ul>
            <li>Pots entregar la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' object.origin_logisticnode.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
            <li>Pots contractar els serveis de recollida d'última milla en bicicleta de <b>{{object.origin_logisticnode.name}}</b> fent click <a href="javascript:openCoopCycleForm({% format_tripobject_to_coopcycle_parameters object object.origin_logisticnode 0 %})">aquí</a> per
              a recollir-la desde el teu punt d'origen: <b>{{object.origin_last_mile_name}}</b>. </li>
          </ul>
        </small> 
      </div>
      {% else %}
          {% for result in coopcycle_only_origin_covered %}
          <div class="alert alert-primary" role="alert">
            <small>Hi ha el Node Logístic <b><a href="{%url 'logisticnode-detail' result.logistic_node.id %}">{{result.logistic_node.name}}</a></b>({{result.logistic_node.origin_name}}) a la zona del origen on ha de sortir la teva comanda. 
              <ul>
                <li>Pots entregar la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' result.logistic_node.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
                <li>Pots contractar els serveis de recollida d'última milla en bicicleta de <b>{{result.logistic_node.name}}</b> (<b>preu aproximat: {{result.cost}}€</b>).</li>
              </ul>
            <br><a class="btn-sm btn-danger"  href="{% url 'triprequest-take-logisticnode' object.id result.logistic_node.id 'origin' %}">  <i class="fa fa-bookmark" aria-hidden="true"></i><small> Estic d'acord</small></a>
            </small> 
          </div>
          {% endfor %}
      {% endif %}
      <br>
        ⚑ Destinació: {{object.destination_name}} {%if object.destination_logisticnode %}<b>(Node logístic: <a href="{%url 'logisticnode-detail' object.destination_logisticnode.id %}">{{object.destination_logisticnode.name}}</a>)</b>{% endif %}
      {%if object.client == user and object.destination_logisticnode %}
      <div class="alert alert-primary" role="alert">
        <small>Has triat que el transportista descarregui la teva comanda al Node Logístic <b><a href="{%url 'logisticnode-detail' object.destination_logisticnode.id %}">{{object.destination_logisticnode.name}}</a></b> ({{object.destination_logisticnode.origin_name}}). 
          <ul>
            <li>Pots demanar al teu client final que vingui a recollir la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' object.destination_logisticnode.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
            <li>Pots fer arribar la teva comanda fins a la destinació final <b>{{object.destination_last_mile_name}}</b>. Clica <a href="javascript:openCoopCycleForm({% format_tripobject_to_coopcycle_parameters object object.destination_logisticnode 1 %})">aquí</a> per contractar els serveis d'entrega d'última milla en bicicleta de <b>{{object.destination_logisticnode.name}}</b></li>
          </ul>
        </small> 
      </div>
      {% else %}
          {% for result in coopcycle_only_destination_covered %}
          <div class="alert alert-primary" role="alert">
            <small>Hi ha el Node Logístic <b><a href="{%url 'logisticnode-detail' result.logistic_node.id %}">{{result.logistic_node.name}}</a></b>({{result.logistic_node.origin_name}}) a la zona de la destinació final on ha d'arribar la teva comanda. 
              <ul>
                <li>Pots demanar al teu client final que vingui a recollir la comanda al Node Logístic (clica <a href="{%url 'logisticnode-detail' result.logistic_node.id %}">aquí</a> per veure adreça, horaris de recollida i condicions)</li>
                <li>Pots fer arribar la teva comanda fins a la destinació final <b>{{object.destination_name}}</b>. Clica <a href="{% url 'triprequest-take-logisticnode' object.id result.logistic_node.id 'destination' %}">aquí</a> per contractar els serveis d'entrega d'última milla en bicicleta de <b>{{object.destination_logisticnode.name}} (<b>preu aproximat: {{result.cost}}€</b>).</b></li>
              </ul>
            <br><a class="btn-sm btn-danger"  href="{% url 'triprequest-take-logisticnode' object.id result.logistic_node.id 'destination' %}">  <i class="fa fa-bookmark" aria-hidden="true"></i><small> Estic d'acord</small></a> 
            </small> 
          </div>
          {% endfor %}
      {% endif %}

    {% if object.distance %}  <br><i class="fa fa-road" aria-hidden="true"></i> Distància: {{object.distance_km|floatformat:1}}km
    {% endif %}          
  </div>
    <div class="card-body">
          <p class="card-text">
            Min. Sortida: {{object.min_time_arrival}}<br>Max. Sortida: {% if object.max_time_arrival%}{{object.max_time_arrival}}{% else %}Sense definir{% endif %}</p>
          <p class="card-text">
            {% if object.transport_isothermic %}<i class="fas fa-temperature-high" aria-hidden="true"></i> (Isoterm){% endif %}
            {% if object.transport_cold %}<i class="fas fa-thermometer-quarter" aria-hidden="true"></i> (Refrigerat){% endif %}
            {% if object.transport_freezer %}<i class="fas fa-snowflake" aria-hidden="true"></i> (Congelat){% endif %}
            {% if object.transport_dry %}<i class="fas fa-sun" aria-hidden="true"></i> (Sense humitat){% endif %}
            {% if object.wants_carpool %}<i class="fa fa-user-plus" aria-hidden="true"></i> Voldria ocupar un seient buit al vehicle que fa la ruta<br>{% endif %}
          </p>
          <p class="card-text">
            Nombre total de paquets: <span class="badge badge-secondary">{{ object.packages_num }}</span>
            <br>Dimensions totals: {% if object.packages_fragile %}<span class="badge badge-warning">Són Fràgils</span>{% endif %}
            <span class="badge" style="background-color: #D36A35; color: white;">Alt: {{object.packages_height}}cm</span>
            <span class="badge" style="background-color: #D36A35; color: white;">Ample: {{object.packages_width}}cm</span>
            <span class="badge" style="background-color: #D36A35; color: white;">Llarg: {{object.packages_length}}cm</span>
            <span class="badge badge-secondary">Pes: {{object.packages_weight}}kg</span>
          </p>
          <p class="card-text">
          {% if object.comment %}
            <i class="far fa-comment-alt"></i> <b>Comentari</b>: <cite title="Comentari">{{object.comment}}</cite>
          {% endif %}
          {% if object.tags %}
            <div class="float-right">
            {% for tag in object.tags.all %}
              <span class="badge badge-info float-right" style="margin-right:5px">{{tag}}</span>
            {% endfor %}
            </div>
          {% endif %}
          {% if object.delivery_contact %}
            {%if object.client == user or user.pk in object.confirmed_drivers %}
                  <br><i class="fas fa-address-card"></i> <b>Contacte de recollida i/o entrega:</b>: <cite >{{object.delivery_contact}}</cite>
            {% endif %}
          {% endif %}

          {% if object.delivery_note %}
            {%if object.client == user or user.pk in object.confirmed_drivers %}
                      <br><i class="fas fa-clipboard-list"></i> <b>Albarà</b>: <a target="_blank" href="/media/{{object.delivery_note}}">{{object.delivery_note}}</a>
            {% endif %}
          {% else %}
              {% if object.client == user %}
                      <br><a class="btn-sm btn-danger"  href="{% url 'triprequest-edit' object.id%}#div_id_delivery_note">  <i class="fa fa-bookmark" aria-hidden="true"></i> Adjuntar albarà</a>
              {% endif %}
          {% endif %}
          </p>
          <hr>
          {%if object.distance %}
            <br><i class="fa fa-leaf"></i> CO<sub>2</sub> estalviat: {{object.get_co2_saved|floatformat:1}}kg
            <br><i class="far fa-money-bill-alt"></i> Valor orientatiu: {{object.get_money_saved|floatformat:2}}€ <button type="button" style="margin-bottom: .5rem; " class="bbtn btn-dark btn-circle" id="help_value_eur" data-toggle="popover" data-html="true" title="Valor orientatiu €" data-content="">?</button>
          {% endif %}
    </div>
    <div class="card-footer">
      {%if object.client == user and object.active and not object.is_review_frozen_or_completed %}
            <a class="btn btn-danger btn-sm"  href="{% url 'triprequest-edit' object.id%}"><i class="fas fa-edit"></i></a>
            <a href="javascript:update_trip_request({{object.id}},'delete')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
            <a class="btn btn-success" style="margin-left:10px" href="{% url 'triprequest-convert-offer' object.id %}">Convertir en ruta</a>

            <button type="button" style="margin-bottom: .5rem;" class="btn btn-dark btn-circle" id="help_convert_request" data-toggle="popover" data-html="true"  data-content="xxxxx">?</button>
      {% endif %}
        <span class=" float-right"><a class="user-link-orange" href="{% url 'profile-view' object.client.username %}"><i class="fa fa-user"></i> {{object.client.userprofile}}</a>
          {%if object.client != user %}
                <a  class="user-link-orange" href="{% url 'chat' object.client.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
          {% endif %}
        </span>
    </div>
</div>
<br>


{%if driver_asked == user or object.client == user %}
            {%if match.delivery_confirmed %}
            <div class="card">
              <div class="card-header"><b>L'entrega de la comanda ha sigut confirmada per la persona transportista.</b></div>
              <div class="card-body">
                {%if match.delivery_photo %}  <label>Foto de l'entrega:</label> <cite><a target="_blank" href="/media/{{match.delivery_photo}}">{{match.delivery_photo}}</a></cite><br>{%endif%}
                {%if match.delivery_signature %}  <label>Signatura del/de la receptor/a:</label> <cite><a target="_blank" href="/media/{{match.delivery_signature}}">{{match.delivery_signature}}</a></cite><br>{%endif%}
                <label>Comentari de l'entrega:</label> {{match.delivery_comment}}<br>
                <label>Data de confirmació de l'entrega:</label> {{match.delivery_date}}<br>
              </div>
            </div>
          {% endif %}

{% endif %}
{%if not object.active %}
<div class="alert alert-warning">
  <strong>Info!</strong> La petició de transport de comanda ha finalitzat.
</div>



{% else %}
  {%if object.client == user %}

                {%if object.frozen %}
                  <div class="alert alert-warning">
                    <strong>Info!</strong> La teva comanda està actualment assignada a un transportista.
                  </div>

                {% else %}
                    <h3 class=headline">Rutes que encaixen amb la teva comanda {%if trip_results.all|length %}<span class="badge badge-primary">{{trip_results.all|length}}</span>{% endif %}</h3>
                      {%if trip_results.all|length %}
                      <small>(cal escollir-ne la que t'interessi)...</small>
                      <br><br>
                        {% include "frontend/trip_results.html" %}
                      {% else %}
                          <small>De moment, no hi ha rutes que passin pels punts des d'on i/o a on necessites dur la teva comanda; si en sorgeixen, t'arribarà un avís a través de l'app (per això, és important revisar l'app de tant en tant durant els propers dies).</small>
                      {% endif %}
                {% endif %}

  {% else %}
  <br>
      {%if object.frozen%}
        {%if driver_asked == user %}
            {%if match.status == 'PENDING' %}
            <div class="alert alert-warning">T'han demanat si pots transportar aquesta comanda amb <a href="{% url 'tripoffer-detail' offer_asked.id %}">la teva ruta</a>.
                <a href="javascript:update_match_status({{match.id}},'ACCEPTED')" class="btn btn-success btn-sm" title="Acceptar"><i class="fa fa-thumbs-up"></i> Acceptar</a>
                <a href="javascript:update_match_status({{match.id}},'REJECTED')" class="btn btn-primary btn-sm" title="Declinar"><i class="fa fa-thumbs-down"></i> Declinar</a>
            </div>
            {% else %}
                 {%if not match.delivery_confirmed %}
                    <div class="alert alert-warning"><b>Has acceptat transportar aquesta comanda! Posa't en contacte <a  class="" href="{% url 'chat' object.client.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a> amb <a href="{% url 'profile-view' object.client.username %}">{{object.client.username}}</a>.</b>
                      {% if offer_asked.active %}
                        <a href="javascript:update_match_status({{match.id}},'REJECTED')" class="btn btn-danger btn-sm" title="Declinar"><small> <i class="fa fa-ban"> Declinar</i></small></a>
                      {% endif %}
                    </div>
                    <div class="alert alert-danger">
                      {% if object.wants_delivery_notification %}
                        <b>La persona usuària de la comanda voldria rebre una notificació quan s'hagi entregat aquesta.</b>
                      {% endif %}
                        <b>Fes clic per a notificar l'entrega i pujar una foto opcionalment:</b>
                        <a href="{%url 'tripmatch-delivery' match.id %}" class="btn btn-danger btn-sm" title="Entregat"><small> <i class="fa fa-archive"> Confirmar Entrega</i></small></a>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">Aquesta comanda ja està en procés amb un transportista.</div>
        {% endif %}

      {% else %}
          <h3 class="headline">Faràs una ruta i vols ajudar a aquesta comanda?</h3>
          {% for trip in user_trip_offers %}
              {% if not request.GET.myoffer or request.GET.myoffer == trip.id|slugify %}
                <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                    <div class="card-header">️
                      ⚐ {{trip.origin_name}}{{trip.steps_name}} ⟹ ⚑ {{trip.destination_name}}
                      <br><small>Sortida: <i>{{trip.time_depart|date:"D j \d\e F \d\e Y, H:i"}}</i> Arribada: <i>{{trip.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</i></small>
                      <br><br><a href="javascript:add_match('{{trip.id}}', '{{object.id}}', 'driver')" class="btn btn-sm btn-primary"><i class="fa fa-bookmark"></i> Cobrir comanda</a>
                    </div>
                </div>
              {% endif %}
          {% endfor %}
          {% if not request.GET.myoffer %}
            <center><a id="url_create" href="{% url 'tripoffer-add' %}?match_object={{object.id}}" class="btn btn btn-primary"><i class="fa fa-bookmark"></i> Cobrir comanda amb nova ruta</a></center>
          {% endif %}
          <script>
            url_params = window.location.search.substring(1);
            if($("#url_create").length){
              $("#url_create")[0].href += "&" +url_params;
            }
          </script>
      {% endif %}
      <script src="/static/js/auto-complete-sharetrip.js"></script>

  {% endif %}
{% endif %}
<br>

{% if object.client == user and trip_matches %}
<div class="shadow-lg p-3 mb-5 bg-white rounded  card">
  <div class="card-header">Interaccions</div>
  <div class="card-body">
    {% for match in trip_matches %}
        {% include "frontend/request_interactions.html" %}
    {% endfor %}
  </div>
  </div>
{% endif %}

{%if object.client == user %}
<br><center><a class="btn btn-secondary"  href="{% url 'triprequest-user-view'%}#request_{{object.id}}">Veure totes les meves comandes</a></center>
{% endif %}

<br>
<div id="map" style="width: 100%; height: 500px;"></div>
  <script src="/static/js/leaflet_display.js"></script>
  <script>display_in_map('request', '{% url "triprequest-geojson" object.id %}');</script>
  {% if request.GET.myoffer %}
    <script>display_route_in_request_map('{% url "tripoffer-geojson" request.GET.myoffer %}');</script>
  {% endif %}
<br>
<script>
  $('#help_convert_request').popover({trigger: 'focus'})
  $('#help_convert_request').attr('data-content', $convert_request_help_text)

  $('#help_value_eur').popover({trigger: 'focus'})
  $('#help_value_eur').attr('data-content', "Aquest és un valor orientatiu del cost en € per a qui fa el transport, calculat en base als Kms/volum/pes.<br>RutesCompartides.cat es limita a desenvolupar una activitat en l'àmbit de la societat de la informació adreçada a posar en contacte per mitjans telemàtics l'oferta i la demanada i en cap cas cobra per aquest servei de transport.<br>Qualsevol compensació econòmica que es vulgui aportar per compartir els costos del transport s'ha d'executar entre les parts implicades, fora d'aquesta app.")
</script>

{% endblock %}
