{% if match.status == "PENDING" %}
    <span class="badge badge-warning">Pendent</span><small> <i>{{match.modified}}</i>:  {% if match.offer.driver %}<a href="{% url 'profile-view' match.offer.driver.username %}">{{match.offer.driver.username}}</a>{% else %} NOUSER {% endif %} encara no ha respost a la teva petició per a la <a href="{% url 'tripoffer-detail' match.offer.id %}">ruta</a>.</small>
{% elif match.status == "ACCEPTED" %}
    <span class="badge badge-info">Acceptat</span><small> <i>{{match.modified}}</i>:  {% if match.offer.driver %}<a href="{% url 'profile-view' match.offer.driver.username %}">{{match.offer.driver.username}}</a>{% else %} NOUSER {% endif %} fa <a href="{% url 'tripoffer-detail' match.offer.id %}">aquesta ruta</a> i ha acceptat la teva petició. {% if match.offer.driver %}Poseu-vos en <a href="{% url 'profile-view' match.offer.driver.username %}">contacte</a>{% endif %}.</small>
{% elif match.status == "REJECTED" %}
    <span class="badge badge-danger">Declinat</span><small> <i>{{match.modified}}</i>:  {% if match.offer.driver %}<a href="{% url 'profile-view' match.offer.driver.username %}">{{match.offer.driver.username}}</a>{% else %} NOUSER {% endif %} ha declinat la teva petició amb el comentari: <i>{{match.driver_comment}}</i></small>
{% elif match.status == "CANCELED" %}
    <span class="badge badge-danger">Cancel·lada</span><small> <i>{{match.modified}}</i>:  Has cancel·lat la teva petició per a <a href="{% url 'tripoffer-detail' match.offer.id %}">la ruta</a> amb el comentari: <i>{{match.client_comment}}</i></small>
{% elif match.status == "COMPLETED" and match.client_rating == None %}
  <span class="badge badge-primary">Finalitzat</span> <small>La <a href="{% url 'tripoffer-detail' match.offer.id %}">ruta</a> ha finalitzat, pots valorar com ha anat.</small> <a href="{% url 'tripmatch-review' match.id %}" class="btn btn-success btn-sm" title="Valorar"><small><i class="fa fa-star">Valorar</i></small></a>
{% elif match.status == "REVIEW_FROZEN" and match.driver_rating != None %}
  <span class="badge badge-primary">Valorat</span> <small><i>{{match.driver_rating_date}}</i>: {% if match.offer.driver %}<a href="{% url 'profile-view' match.offer.driver.username %}">{{match.offer.driver.username}}</a>{% else %} NOUSER {% endif %} t'ha fet una valoració de ({{match.driver_rating}}/5) punts amb el comentari: <i>{{match.driver_comment}}</i>. </small><br>
{% elif match.status == "COMPLETED" or match.status == "REVIEW_FROZEN" and match.client_rating != None %}
  <span class="badge badge-primary">Valorat</span><i>{{match.client_rating_date}}</i>: <small>Has valorat el transport de {% if match.offer.driver %}<a href="{% url 'profile-view' match.offer.driver.username %}">{{match.offer.driver.username}}</a>{% else %} NOUSER {% endif %} amb ({{match.client_rating}}/5) punts amb el comentari: <i>{{match.client_comment}}</i>. </small><br>
{% endif %}

{%if match.driver_failed %} <small>Usuaria afirma que NO li van recollir la comanda. </small>{% endif %}
{%if match.client_failed %} <small>Transportista afirma que NO li van entregar la comanda. </small>{% endif %}
{% if match.status == "PENDING" or match.status == "ACCEPTED" %}
  {% if match.offer.active and not match.offer.too_late_to_edit %}
    <small><a href="javascript:update_match_status({{match.id}},'CANCELED')" class="btn btn-danger btn-sm" title="Cancel·lar"><small> <i class="fa fa-ban"> Cancel·lar</i></small></a></small>
  {% endif %}
{% endif %}
<br>
