{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}

  <!-- Searching addresses -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0&callback=initMap"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
  <script src="https://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
  {{ form.media }}

{% endblock %}

{% block content %}
{% if object.has_pending_requests %}
<div class="alert alert-warning">
     <strong>Aquesta comanda ja té una ruta que l'ha acceptada o està pendent. Assegura't que els canvis que fas a la comanda no hi afecten. Si la ruta ja no et serveix, cancel·la la petició.</strong>
</div>
{% endif %}
<h3 class=headline">{% if object %}Editar{% else %}Publicar{% endif %} comanda</h3>
<i>Necessito enviar una comanda i busco afegir-me a la ruta d'algú que vulgui dur la meva comanda al seu vehicle.</i>
<br><br>
{% if form.errors %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
         <strong>{{form.non_field_errors}}</strong>
    </div>
  {% endif %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{field.name}}: {{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
{% endif %}

<form id="form_new_request"  enctype="multipart/form-data" method="post" onsubmit="return onSubmit()">


{% csrf_token %}
<input type="hidden" id="object_id" name="object_id" value="{{object.id}}">
{% if match_object %}
  <div class="alert alert-info">
    Aquesta comanda es demanarà per a la ruta: <a href="{% url 'tripoffer-detail' match_object %}">#{{match_object}}</a><br>
  </div>
  <input type="hidden" id="match_object" name="match_object" value="{{match_object}}">
{% endif %}
{{ form.internal_name|as_crispy_field }}

<input type="hidden" id="origin_location" name="origin_location" value="{{origin_location}}">
<input type="hidden" id="destination_location" name="destination_location" value="{{destination_location}}">
{{ form.origin_name|as_crispy_field }}

  {% if user_storage_list %}
    <div id="div_origin_storage">
      <select class="form-select" id="origin_storage" style="width:100%">
        <option selected>Punts habituals</option>
        {% for storage in user_storage_list %}
        <option value="{{ storage.id }}">{% if storage.is_public %}Públic: {% else %}Privat: {% endif %}{{ storage.name|safe|upper }} : {{storage.origin_name|safe}}</option>
        {% endfor %}
      </select>
    </div>
      <script type="text/javascript">
        $storage_dict = {}
        $storage_notes = {}
        $storage_origin_notes = ""
        $storage_destination_notes = ""

        {% for storage in user_storage_list %}
          $storage_dict[{{storage.id}}] = {"location": "{{storage.origin_location}}", "address": "{{storage.origin_name|safe}}"};
          $storage_notes[{{storage.id}}] = {"name": "{{storage.name}}", "notes": `{{storage.notes}}`};
        {% endfor %}
        $("#origin_storage").change(function() {
          value = $( this ).val();
          if(value in $storage_dict){
              $('#origin_location').val($storage_dict[value]["location"]);
              $('#id_origin_name').val($storage_dict[value]["address"]);
              if($storage_notes[value]["notes"] != 'None'){ notes  = $storage_notes[value]["notes"]}
              else{notes = "Sense notes de contacte"}

              $storage_origin_notes = "Punt habitual de sortida: "+ $storage_notes[value]["name"] + '\n' + notes

          }
          else{$storage_origin_notes = ''}
        });
        $( "#div_origin_storage" ).insertAfter($('label[for="id_origin_name"]') );
      </script>
  {% endif %}

  {{ form.destination_name|as_crispy_field }}
  {% if user_storage_list %}
    <div id="div_destination_storage">
    <select class="form-select" id="destination_storage" style="width:100%">
        <option selected>Punts habituals</option>
        {% for storage in user_storage_list %}
          <option value="{{ storage.id }}">{% if storage.is_public %}Públic: {% else %}Privat: {% endif %} {{ storage.name|safe|upper }} : {{ storage.origin_name|safe }}</option>
        {% endfor %}
      </select>
    </div>
      <script type="text/javascript">
        $("#destination_storage").change(function() {
          value = $( this ).val();
          if(value in $storage_dict){
              $('#destination_location').val($storage_dict[value]["location"]);
              $('#id_destination_name').val($storage_dict[value]["address"]);

              if($storage_notes[value]["notes"] != 'None'){ notes  = $storage_notes[value]["notes"]}
              else{notes = "Sense notes de contacte"}

              $storage_destination_notes = "Punt habitual d'arribada: "+ $storage_notes[value]["name"] + '\n' + notes
          }  else{$storage_destination_notes = ''}
        });

        $( "#div_destination_storage" ).insertAfter($('label[for="id_destination_name"]') );
      </script>
  {% endif %}

  {% if origin_name %}<script>$('#id_origin_name').val("{{origin_name|safe}}");</script>{% endif %}
  {% if destination_name %}<script>$('#id_destination_name').val("{{destination_name|safe}}");</script>{% endif %}
  <div class="row">
    <div class="col-6">
      {{ form.min_time_arrival|as_crispy_field }}
    </div>
    <div class="form-group col-6">
      {{ form.max_time_arrival|as_crispy_field }}
    </div>

 </div>
 {% if time_depart %}<script>$('#id_min_time_arrival').val("{{time_depart}}");</script>
 {% elif object.min_time_arrival %}<script>$('#id_min_time_arrival').val("{{object.min_time_arrival|date:'Y-m-d H:i'}}");</script>{% endif %}

 {% if max_time_arrival %}<script>$('#id_max_time_arrival').val("{{max_time_arrival}}");</script>{% endif %}

  {{ form.wants_carpool|as_crispy_field }}

    <div class="row">
      <div style="margin-top:10px; margin-left:10px">
        <button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-danger filter-label" id="help_filters" data-toggle="popover" data-html="true" title="Condicions de transport" data-content="">?</button>
        <label class="btn btn-primary filter-label"> <input name="transport_isothermic" {% if transport_isothermic %}checked{% endif %} type="checkbox" autocomplete="off"> isoterm</label>
        <label class="btn btn-primary filter-label"> <input name="transport_cold" {% if transport_cold %}checked{% endif %} type="checkbox" autocomplete="off"> refrigerat</label>
        <label class="btn btn-primary filter-label"> <input name="transport_freezer" {% if transport_freezer %}checked{% endif %} type="checkbox" autocomplete="off"> congelat</label>
        <label class="btn btn-primary filter-label"> <input name="transport_dry" {% if transport_dry %}checked{% endif %} type="checkbox" autocomplete="off"> sense humitat </label>
      </div>
    </div>
    <div class="row">
      <div class="card-body" style="margin-left:-5px">
          <label>Etiquetes:</label>
          <button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-dark btn-circle" id="help_tags" data-toggle="popover" data-html="true"  data-content="xxxxx">?</button>

          <input name="tags" type="text" data-role="tagsinput" class="form-control" value={{tags}}></input>

      </div>
    </div>

    <br>
    <div class="card" >
      <div class="card-header">
        <h5 class="card-title">Paquets</h5>
      </div>

      <div class="card-body">
            <div class="form-row">
              {{ form.packages_num|as_crispy_field }}
            </div>
            <div class="form-row">
                {{ form.packages_fragile|as_crispy_field }}

                <button type="button" style="margin-bottom: .5rem; margin-left: .2rem" class="btn btn-dark btn-circle" id="help_fragile" data-toggle="popover" data-html="true"  data-content="xxxxx">?</button>

                <small class="form-text text-muted"></small>
            </div>
            <label>Indica les mides i el pes dels paquets en conjunt:</label>
            <div class="form-row">
              <div class="form-group col-md-6">
                {{ form.packages_height|as_crispy_field }}
                <!-- <label for="inputEmail4">Alt(cm)</label>
                <input type="number" class="form-control" name="packages_height" placeholder="Alt(cm)"> -->
              </div>
              <div class="form-group col-md-6">
                {{ form.packages_width|as_crispy_field }}
                <!-- <label for="inputPassword4">Ample(cm):</label>
                <input type="number" class="form-control" name="packages_width" placeholder="Ample(cm)"> -->
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                {{ form.packages_length|as_crispy_field }}
                <!-- <label for="inputPassword4">Llarg(cm)</label>
                <input type="number" class="form-control" name="packages_length" placeholder="Llarg(cm)"> -->
              </div>
              <div class="form-group col-md-6">
                {{ form.packages_weight|as_crispy_field }}
                <!-- <label for="inputEmail4">Pes(kg)</label>
                <input type="number" class="form-control" name="packages_weight" placeholder="Pes(kg)"> -->
              </div>
            </div>
      </div>
    </div>
      <br>
      <div class="form-group">
        <div class="col-12">
          {{ form.wants_delivery_notification|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.comment|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.delivery_contact|as_crispy_field }}
          <small id="small_delivery_contact_from_profile"><input type='checkbox' id='delivery_contact_from_profile'> Recollida: {{contact_from_profile}}</input></small>
          <small  id="small_delivery_contact_from_storages"><br><input style="margin-top: 5px" type='checkbox' id='delivery_contact_from_storages'> Afegir dades de contacte del punt habitual triat.</input></small>
        </div>
        <script>
        $('#small_delivery_contact_from_profile').insertAfter($('#id_delivery_contact'));
        $('#delivery_contact_from_profile').change(function() {
            if(this.checked) {
                $new_text = $('#id_delivery_contact').val() + '\n{{contact_from_profile}}';
                $('#id_delivery_contact').val($new_text.trim());
            }
        });

        $('#small_delivery_contact_from_storages').insertAfter($('#small_delivery_contact_from_profile'));
        $('#delivery_contact_from_storages').change(function() {
            if(this.checked) {
                $new_text = $('#id_delivery_contact').val() + '\n';
                if($storage_origin_notes){$new_text = $new_text + $storage_origin_notes  + '\n'}
                if($storage_destination_notes){$new_text = $new_text + $storage_destination_notes  + '\n' }
                $('#id_delivery_contact').val($new_text.trim());
            }
        });
        </script>
        <div class="form-group">
          {{ form.delivery_note|as_crispy_field }}
        </div>
      </div>
      <br>
      <div>
        {% if object %}
          <a href="{% url 'triprequest-detail' object.id %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar edició</a>
          &nbsp; <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Guardar comanda</button>
          {% else %}
          <a href="{% url 'triprequest-user-view' %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar </a>
          <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Publicar comanda</button>
        {% endif %}
      </div>
    </form>


    <script src="/static/js/auto-complete-sharetrip.js"></script>

  <script>
    $url = document.location.href;
    $anchor = $url.substring($url.indexOf('#') +1);
    if($anchor == "delivery_note"){
      $("#delivery_note").css({backgroundColor: '#B6DADA'});
      $("#delivery_note").css('border', '3px dashed black');
    }
    $('#help_filters').popover({trigger: 'focus'})
    $('#help_filters').attr('data-content', $filter_help_text_need + $filter_help_text_content_need)
    $('#help_tags').popover({trigger: 'focus'})
    $('#help_tags').attr('data-content', $tags_help_text)
    $('#help_fragile').popover({trigger: 'focus'})
    $('#help_fragile').attr('data-content', $fragile_help_text)

    $('#div_id_max_time_arrival > label').after('<button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-dark btn-circle" id="help_max_arrival" data-toggle="popover" data-html="true"  data-content="x">?</button>')
    $('#div_id_min_time_arrival > label').after('<button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-dark btn-circle" id="help_min_arrival" data-toggle="popover" data-html="true"  data-content="x">?</button>')

    $('#help_max_arrival').popover({trigger: 'focus'})
    $('#help_max_arrival').attr('data-content', $max_arrival_help_text)
    $('#help_min_arrival').popover({trigger: 'focus'})
    $('#help_min_arrival').attr('data-content', $min_arrival_help_text)
    $('#div_id_max_time_arrival').after("<input type='checkbox' name='flexible_arrival' {% if flexible_arrival %}checked{% endif %} id='flexible_arrival'> Data d'arribada flexible</input>")
    $('#flexible_arrival').change(function() {
        if(this.checked) {
            $('#id_max_time_arrival').val('');
            $('#id_max_time_arrival').prop("disabled", true)
        }else{
          $('#id_max_time_arrival').prop("disabled", false)
        }

    });
    {% if flexible_arrival %}
      $('#id_max_time_arrival').prop("disabled", true);
    {% endif %}
    if( $('#id_origin_name').val() && $('#origin_location').val() == ''){
      $('#id_origin_name').val('');
    }
    if( $('#id_destination_name').val() && $('#destination_location').val() == ''){
      $('#id_destination_name').val('');
    }
    function onSubmit() {
      if($('#origin_location').val() == '' || $('#destination_location').val() == ''){
        alert("S'ha de completar el punt de sortida i d'arribada. Selecciona una localitat de la llista desplegable.");
        return false;
      }
    }

  </script>
{% endblock %}
