
<h3 class=headline"><a class="btn-danger btn-sm" href="{% url 'triprequest-detail' object.id %}"> Comanda #{{object.id}}</a>
  {% if object.transport_isothermic %}<span title="Isoterm"><i class="fas fa-temperature-high" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_cold %}<span title="Refrigerat"><i class="fas fa-thermometer-quarter" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_freezer %}<span title="Congelat"><i class="fas fa-snowflake" aria-hidden="true"></i></span>{% endif %}
  {% if object.transport_dry %}<span title="Sense humitat"><i class="fas fa-sun" aria-hidden="true"></i></span>{% endif %}
  {% if object.wants_carpool %}<i class="fa fa-user-plus" aria-hidden="true"></i>{% endif %}

</h3>

⚐ Origen: {{object.origin_name}}
<br>⚑ Destinació: {{object.destination_name}}
<br>Min. Sortida: {{object.min_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}
<br>Max. Sortida: {% if object.max_time_arrival%}{{object.max_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}{% else %}Sense definir{% endif %}
<span class="badge badge-secondary">{{ object.packages_num }} paquet(s)</span>
<span class="badge badge-secondary">Pes: {{object.packages_weight}}kg</span>
<br>
<span class=" float-right"><a class="user-link-orange" href="{% url 'profile-view' object.client.username %}"><i class="fa fa-user"></i> {{object.client.userprofile}}</a>
  {%if object.client != user %}
        <a  class="user-link-orange" href="{% url 'chat' object.client.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
  {% endif %}
</span>
<br>
<small>Nota: la ruta d'aquesta comanda és només orientativa i autogenerada per la plataforma.</small>
