{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}
{% endblock %}

{% block content %}
{%if role == "driver" and match.driver_rating or role == "client" and match.client_rating %}
  <span>Ja s'ha enviat la valoració.</span>
{% else %}
      <h3 class="headline">Valorar experiència amb <a  href="{% url 'profile-view' reviewed_user %}"><i class="fa fa-user"></i> {{reviewed_user}}</a></h3>
      <form  method="post" id="review-match-form">
        {% csrf_token %}
        <input type="hidden" name="role" value="{{ role }}">
      <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:5px">
          <div class="card-header">
            <b>{% if role == "driver" %}La teva ruta{% else %}Ruta{% endif %}</b> <a href="{% url 'tripoffer-detail' match.offer.id %}">#{{match.offer.id}}
              {% if role == "driver" and match.offer.internal_name %}({{match.offer.internal_name}}){% endif %}
            </a>: ⚐ {{match.offer.origin_name}}{{match.offer.steps_name}} ⟹ ⚑ {{match.offer.destination_name}}
            <br><b>{% if role == "client"%}La teva comanda{% else %}Comanda{% endif %}</b> <a href="{% url 'triprequest-detail' match.request.id %}">#{{match.request.id}}
              {% if role == "client" and match.request.internal_name %}({{match.request.internal_name}}){% endif %}
            </a>: ⚐ {{match.request.origin_name}} ⟹ ⚑ {{match.request.destination_name}}
          </div>
          <div class="card-body">
            <div class="form-check">
              {% if role == "driver" %}
                <input class="form-check-input" type="checkbox" name="client_failed" id="client_failed">
                <label class="form-check-label" for="gridCheck">Vaig fer la ruta pero NO em van entregar la comanda.</label>
              {% else %}
                <input class="form-check-input" type="checkbox" name="driver_failed" id="driver_failed">
                <label class="form-check-label" for="gridCheck">Vaig intentar entregar la comanda pero el/la responsable de la ruta no la va arreplegar.</label>
              {% endif %}
            </div>
            <div class="rating">
            <label for="cars">Puntuació:</label>
              <select name="rating" id="rating"">
                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>

              <div class="form-group">
                <label for="message-text" class="col-form-label">Comentari:</label>
                <textarea required class="form-control" name="comment" id="comment"></textarea>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <button type="button" id="save_review_button" class="btn btn-primary">Enviar</button>
            {% if match.max_time_rating %}<small><font color="red">Data límit per valorar l'experiència: {{match.max_time_rating}}</font></small>{% endif %}
          </div>

        </div>
      </form>
      <script type="text/javascript">
        $('#save_review_button').click(function() {
              if($("#rating").val()){
                $("#rating").val();
                $('#review-match-form').submit();
              }else{
                alert('No has triat una puntuació.')
              }

          });
      </script>
{% endif %}
{% endblock %}
