{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}

  <!-- Google maps Widget -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>
  <script src="https://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
  {{ form.media }}

{% endblock %}

{% block content %}

<h3 class=headline">{% if object %}Editar{% else %}Crear{% endif %} punt habitual</h3>
<i>PUNT HABITUAL de sortida o arribada de les teves comandes/rutes, només visibles per al teu usuari. En afegir-los, t'estalviaràs d'escriure les adreces cada vegada que creïs una ruta/comanda.</i>
<br><br>
{% if form.errors %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
         <strong>{{form.non_field_errors}}</strong>
    </div>
  {% endif %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{field.name}}: {{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
{% endif %}

<form id="form_new_storage" method="post" onsubmit="return onSubmit()">


{% csrf_token %}
<input type="hidden" id="object_id" name="object_id" value="{{object.id}}">

{{ form.name|as_crispy_field }}
<!-- <label class="btn btn-primary filter-label"> <input name="is_public" {% if object.is_public %}checked{% endif %} type="checkbox" autocomplete="off"> és magatzem públic</label> -->

<input type="hidden" id="origin_location" name="origin_location" value="{{origin_location}}">
  {{ form.origin_name|as_crispy_field }}
  {% if origin_name %}<script>$('#id_origin_name').val("{{origin_name}}");</script>{% endif %}
  {% if origin_location %}<script>$('#id_oriorigin_locationgin_name').val("{{origin_location}}");</script>{% endif %}

    <!-- <div class="row">
      <div style="margin-top:10px; margin-left:10px">
        <button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-danger filter-label" id="help_filters" data-toggle="popover" data-html="true" title="Característiques del magatzem" data-content="">?</button>
        <label class="btn btn-primary filter-label"> <input name="transport_isothermic" {% if object.transport_isothermic %}checked{% endif %} type="checkbox" autocomplete="off"> isoterm</label>
        <label class="btn btn-primary filter-label"> <input name="transport_cold" {% if object.transport_cold %}checked{% endif %} type="checkbox" autocomplete="off"> refrigerat</label>
        <label class="btn btn-primary filter-label"> <input name="transport_freezer" {% if object.transport_freezer %}checked{% endif %} type="checkbox" autocomplete="off"> congelat</label>
        <label class="btn btn-primary filter-label"> <input name="transport_dry" {% if object.transport_dry %}checked{% endif %} type="checkbox" autocomplete="off"> sense humitat </label>
        <label class="btn btn-primary filter-label"> <input name="accepts_pallets" {% if object.accepts_pallets %}checked{% endif %} type="checkbox" autocomplete="off"> descàrrega palets </label>

      </div>
    </div> -->
    <div class="row">
      <div class="card-body" style="margin-left:-5px">
          <label>Etiquetes:</label>
          <button type="button" style="margin-bottom: .5rem;margin-left: .2rem;" class="btn btn-dark btn-circle" id="help_tags" data-toggle="popover" data-html="true"  data-content="xxxxx">?</button>

          <input name="tags" type="text" data-role="tagsinput" class="form-control" value={{tags}}></input>
            {{ form.notes|as_crispy_field }}
      </div>
    </div>

    {% if object %}
      <a href="{% url 'storage-detail' object.id %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar</a>
      &nbsp; <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Guardar</button>
      {% else %}
      <a href="{% url 'storage-user-view' %}" class="btn btn-danger btn-big"><i class="far fa-window-close"></i> Cancel·lar </a>
      <button id="button_submit" type="submit" class="btn btn-success"><i class="far fa-save"></i> Crear</button>
    {% endif %}
    </form>


    <script src="/static/js/auto-complete-sharetrip.js"></script>

  <script>
    $('#help_filters').popover({trigger: 'focus'});
    //$('#help_filters').attr('data-content', $filter_help_text_storage + $filter_help_text_content_storage)
    $('#help_tags').popover({trigger: 'focus'});
    $('#help_tags').attr('data-content', $tags_help_text);

    $("#id_origin_name").attr("placeholder","Escriu la localització del punt habitual...");
    if( $('#id_origin_name').val() && $('#origin_location').val() == ''){
      $('#id_origin_name').val('');
    }

    function onSubmit() {
      if($('#origin_location').val() == '' || $('#destination_location').val() == ''){
        alert("S'ha de completar la localització del punt habitual. Selecciona una localitat de la llista desplegable.");
        return false;
      }
    }

  </script>
{% endblock %}
