{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}

  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/assets/jquery.geocomplete.min.js"></script>

  <link rel="stylesheet" href="/static/css/ratings.css">

  <script src="/static/js/model_actions.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="/static/js/model_actions.js"></script>

{% endblock %}

{% block content %}
{% csrf_token %}


{% with offer=object %}
{%if not object.is_public and object.creator != user %} El punt habitual no es públic.
{% else %}
<h3 class=headline">Detalls del punt habitual ({{storage.name}})</h3>
<br>
  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
      <div class="card-header" id="storage_{{storage.id}}">
            <!-- <span class="badge badge-secondary float-left" style="margin-top: -20px; margin-left: -30px">
               {% if storage.is_public %}Públic{% else %}Privat{% endif %}
            </span> -->
      </div>
      <div class="card-body">
        Localització:  ⚐<i> {{storage.origin_name}}</i>

        <!-- <p class="card-text">
            {% if object.transport_isothermic %}<i class="fas fa-temperature-high" aria-hidden="true"></i> (Isoterm){% endif %}
            {% if object.transport_cold %}<i class="fas fa-thermometer-quarter" aria-hidden="true"></i> (Refrigerat){% endif %}
            {% if object.transport_freezer %}<i class="fas fa-snowflake" aria-hidden="true"></i> (Congelat){% endif %}
            {% if object.transport_dry %}<i class="fas fa-sun" aria-hidden="true"></i> (Sense humitat){% endif %}
            {% if object.accepts_pallets %}<i class="fa fa-arrow-down" aria-hidden="true"></i> Disposa de toro per a la descàrrega de palets{% endif %}
        </p> -->

          {% if object.notes %}Dades de contacte / informació: <footer class="blockquote-footer"><cite title="Source Title">{{object.notes}}</cite></footer>{% endif %}

    </div>
    <div class="card-footer">
      {%if object.creator == user %}
            <a class="btn btn-danger float-left" href="{% url 'storage-edit' object.id%}">Editar</a>
      {% endif %}
        <span class="float-right"><a class="user-link-orange" href="{% url 'profile-view' object.creator.username %}"><i class="fa fa-user"></i> {{object.creator.userprofile}}</a>
          {%if object.creator != user %}
                <a  class="user-link-orange" href="{% url 'chat' object.creator.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
          {% endif %}
        </span>
    </div>
</div>

<a class="btn btn-success float-left" href="{% url 'storage-user-view' %}">Veure tots els meus punts habituals</a>
<br>
<br>
<div id="map" style="width: 100%; height: 500px;"></div>
  <script src="/static/js/leaflet_display.js"></script>
  <script>display_in_map('storage', '{% url "storage-geojson" object.id %}');</script>

<br>

{% endif %}





{% endwith %}
{% endblock %}
