{% load crispy_forms_tags %}
{% load geojson_tags %}

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="/static/js/model_actions.js"></script>
  <!-- Google maps Widget -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=ca&key=AIzaSyBX_TmZvRIM7_Laykt3L2ZbaxaFYuIYEF0"></script>
  <!-- https://www.jqueryscript.net/demo/Google-Address-Autocomplete-Plugin-geocomplete/ -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  <link rel="stylesheet" href="/static/css/ratings.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="margin:20px;padding:20px">


<center><h3><i class="fas fa-clipboard-list"></i> <u>Informe de la ruta #{{object.id}}
{%if object.driver == user and object.internal_name %} "{{object.internal_name}}"
{% endif %}</u>
</h3></center>

<br>⚐ Origen: {{object.origin_name}}
{% if object.steps_name %}<br>⚐:{{object.steps_name}}{% endif %}
<br>⚑ Destinació: {{object.destination_name}}
<br>De: {{object.time_depart|date:"D j \d\e F \d\e Y, H:i"}}<br>A: {{object.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}
<br><br><b>Condicions del transport</b>:
  <i class="fas fa-temperature-high" aria-hidden="true"></i> (Isoterm {% if object.transport_isothermic %}<b>SI</b> {%else%}<b>NO</b>{% endif %})
  <i class="fas fa-thermometer-quarter" aria-hidden="true"></i>(Refrigerat {% if object.transport_cold %}<b>SI</b> {%else%}<b>NO</b>{% endif %})
  <i class="fas fa-snowflake" aria-hidden="true"></i> (Congelat {% if object.transport_freezer %}<b>SI</b> {%else%}<b>NO</b>{% endif %})
  <i class="fas fa-sun" aria-hidden="true"></i> (Sense humitat {% if object.transport_dry %}<b>SI</b> {%else%}<b>NO</b>{% endif %})
  {% if object.vehicle %}<br><i class="fa fa-truck" ></i><b>Vehicle</b>: {{object.vehicle}}{% endif %}
  {% if object.comment %}<br><b>Comentari</b>: <cite title="Source Title">{{object.comment}}</cite>{% endif %}
  {% if object.tags.all|length %}
    <br><b>Etiquetes</b>: {% for tag in object.tags.all %} #{{tag}} {% endfor %}
  {% endif %}

<br><b>Regularitat de la ruta</b>: {{object.get_frequency_name}}
<br><b>Número total de paquets</b>: {{total_packages}}
<br><b>Pes total dels paquets</b>: {{total_weight}}kg
<br><b>Volum total dels paquets</b>: {{total_volume|floatformat:3}}m<sup>3</sup>
<hr>
{% if accepted_matches  %}
    <center><h3><u>Comandes (Total: {{ accepted_matches|length}})</u></h3></center>
    {% for match in accepted_matches %}
        <hr>
        <h4><u>Comanda #{{match.request.id}}</u> </h4>
        <br>Persona usuària: <b>{{match.request.client.username}}</b>
        {% if match.request.wants_carpool %}<br><i class="fa fa-user-plus"></i>La persona usuària voldria ocupar un seient buit.{% endif %}
        <br>⚐ Origen: {{match.request.origin_name}}
        <br>⚑ Destinació: {{match.request.destination_name}}
        <br>Data Min: {{match.request.min_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}
        {%if match.request.max_time_arrival %}
          <br>Data Max: {{match.request.max_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}
        {% endif %}
        <br>
        {%if match.request.delivery_contact %}
          <br><b>Contacte de recollida i/o entrega:</b>: {{match.request.delivery_contact }}
        {% endif %}

        {% if match.request.delivery_note %}<br><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
          <b>Albarà</b>: <a target="_blank" href="{{DEFAULT_DOMAIN}}/media/{{match.request.delivery_note}}">{{match.request.delivery_note}}</a>
        {% endif %}
        <br><b>Condicions del Transport</b>:
        <i class="fas fa-temperature-high" aria-hidden="true"></i>(Isoterm {% if match.request.transport_isothermic %}<b>SI</b>{%else%}<b>NO</b>{% endif %})
        <i class="fas fa-thermometer-quarter" aria-hidden="true"></i>(Refrigerat {% if match.request.transport_cold %}<b>SI</b>{%else%}<b>NO</b>{% endif %})
        <i class="fas fa-snowflake" aria-hidden="true"></i>(Congelat {% if match.request.transport_freezer %}<b>SI</b>{%else%}<b>NO</b>{% endif %})
        <i class="fas fa-sun" aria-hidden="true"></i>(Sense humitat {% if match.request.transport_dry %}<b>SI</b>{%else%}<b>NO</b>{% endif %})
        {% if match.request.comment %}<br><b>Comentari</b>: {{match.request.comment}}{% endif %}
        {% if match.request.tags.all|length and match.request.tags.all.0 %}
          <br><b>Etiquetes</b>: {% for tag in match.request.tags.all %}{% if tag.name %} #{{tag}}{% endif %}{% endfor %}
        {% endif %}
        <br><b>Número total de paquets</b>: {{match.request.packages_num}}
        <br><b>Mides i pes total</b>:
        <b> Alt</b>: {{match.request.packages_length}}cm
        <b> Ample</b>: {{match.request.packages_width}}cm
        <b> Llarg</b>: {{match.request.packages_height}}cm
        <b> Pes</b>: {{match.request.packages_weight}}kg
        <br><b> Es fràgil?</b>: {% if match.request.packages_fragile %}<b>SI</b> {%else%}<b>NO</b>{% endif %}
    {% endfor %}
{% endif %}

{%if not object.active %}
  <strong>Info!</strong> La ruta ha finalitzat.
{% endif %}
</body>
