{% for trip in trip_results %}
<div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:5px">
    <div class="card-result card-body col ">️
      <div class="row">
        <div class="col">
            <span>{% if trip.time_depart %}<span style="background:#D36A35; color:white;">(R)</span>
            {% else %}
                  <span style="background:#24ad21; color:white;">(C)</span>
            {% endif %}
              {% if trip.driver %}<a class="user-link" href="{% url 'profile-view' trip.driver.username %}"><i class="fa fa-user"></i> {{trip.driver.userprofile}}</a>
                {%if trip.driver != user %}
                      <a class="user-link" href="{% url 'chat' trip.driver.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
                {% endif %}
              {% elif trip.client %}<a class="user-link" href="{% url 'profile-view' trip.client.username %}"><i class="fa fa-user"></i> {{trip.client.userprofile}}</a>
                {%if trip.client != user %}
                      <a class="user-link" href="{% url 'chat' trip.client.username %}"> <i style="font-size: 1rem;" class="fas fa-comments"></i></a>
                {% endif %}
              {% endif %}
            </span>
        </div>
            <div class="col">

              {% if trip.time_depart %}<a href="{% url 'tripoffer-detail' trip.id %}{% if object.id %}?myrequest={{object.id}}{% endif %}" id="result_offer_{trip.id}" class="float-right btn btn-sm btn-primary">
                <i class="fa fa-bookmark"></i> Detalls</a>
              {% else %}<a  href="{% url 'triprequest-detail' trip.id %}{% if object.id %}?myoffer={{object.id}}{% endif %}" id="result_request_{trip.id}" style="background:#24ad21 !important; border:#24ad21 !important;" class="float-right btn  btn-sm btn-primary">
                <i class="fa fa-bookmark"></i> Detalls</a>
              {% endif %}
            </div>
      </div>
      <div class="row" style="margin: auto;">
        ⚐ <b>&nbsp; {{trip.origin_name}}{{trip.steps_name}}</b> ⟹ ⚑ <b>&nbsp; {{trip.destination_name}}</b></div>
    </div>
    <div class="card-body col">
        <div class="row">
    {% if trip.distance_origin is not None %}<span class="badge badge-origin float-left" style="margin-right:5px">Desv. Origen: {{trip.distance_origin.km|floatformat:1}} km</span>{% endif %}
    {% if trip.distance_destination is not None %}<span class="badge badge-destination float-left">Desv. Destinació: {{trip.distance_destination.km|floatformat:1}} km</span>{% endif %}
        </div>
        <div class="row">
           {% if trip.time_depart %}<small>Sortida: <i>{{trip.time_depart|date:"D j \d\e F \d\e Y, H:i"}}</i><br>Arribada: <i>{{trip.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</i></small>
           {% elif trip.min_time_arrival %}<small>
                Min. Sortida: <i>{{trip.min_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</i>
                <br>Max. Sortida: <i>{% if trip.max_time_arrival %}{{trip.max_time_arrival|date:"D j \d\e F \d\e Y, H:i"}}{% else %}Flexible.{% endif %}</i>
             </small>
           {% endif %}
       </div>
       <div class="row">
            {% if trip.vehicle %}<p class="card-title"><i class="fa fa-truck" ></i> {{trip.vehicle}}</p>{% endif %}
            <p class="card-text">

              <small>
                {% if trip.transport_isothermic %}<i class="fas fa-temperature-high" aria-hidden="true"></i> (Isoterm){% endif %}
                {% if trip.transport_cold %}<i class="fas fa-thermometer-quarter" aria-hidden="true"></i> (Refrigerat){% endif %}
                {% if trip.transport_freezer %}<i class="fas fa-snowflake" aria-hidden="true"></i> (Congelat){% endif %}
                {% if trip.transport_dry %}<i class="fas fa-sun" aria-hidden="true"></i> (Sense humitat){% endif %}
              </small>
        </div>
        {% if trip.frequency != 'ONCE' %}
            <div class="row" >
                <a href="/offer/frequent/{{trip.frequency_group_id}}"><span class="badge badge-info" style="margin-right:5px">{{trip.get_frequency_name}}</span></a>
            </div>
        {% endif %}
        {% if trip.tags %}
            <div class="row" >
              {% for tag in trip.tags.all %}
                <span class="badge badge-info float-right" style="margin-right:5px">{{tag}}</span>
              {% endfor %}
            </div>
        {% endif %}
    </div>

</div>
{% empty %}
  {% if model == "trip_offer" %}No se n'ha trobat cap; pots publicar <a href="{% url 'tripoffer-add'%}">una ruta</a>.
  {% else %}No se n'ha trobat cap; pots publicar <a href="{% url 'triprequest-add'%}">una comanda</a>.
  {% endif %}
{% endfor %}
<script>$(".card-result").each(function(){
       $(this).html($(this).html().substring(1));
});
</script>
