{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}
<script src="/static/js/model_actions.js"></script>
{% endblock %}

{% block content %}
{% csrf_token %}


<h3 class="headline">Els teus nodes logístics <span class="badge badge-primary">{{logisticnodes.all|length}}</span></h3>
<i>Els NODES LOGÍSTICS són visibles al mapa en portada per a tots els usuaris registrats. En afegir-los, ofereixes el teu magatzem (amb o sense cost) com a punt d'entrega/recollida per a altres usuaris, i/o aglutines comandes per oferir el servei de ciclologística de distribució d'última milla.</i>
<br><br>
            {% if not logisticnodes.all|length %}
                <div class="alert alert-info">
                  No tens cap node logístic creat, fes clic <a href="{% url 'logisticnode-add'%}">aquí</a>.
                </div>
            {% else %}
                {% for logisticnode in logisticnodes %}
                  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                      <div class="card-header" id="logisticnode_{{logisticnode.id}}">
                                {{logisticnode.name}}
                      </div>
                      <div class="card-body">
                        Localització:  ⚐<i> {{logisticnode.origin_name}}</i>
                      </div>

                      <div class="card-footer text-right">
                        <a href="javascript:update_logisticnode({{logisticnode.id}},'delete')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                        <div style="float:left;"><a href="{% url 'logisticnode-detail' logisticnode.id %}" class="btn btn-primary btn-sm"><i class="fa fa-bookmark"></i> Detall</a></div>
                      </div>
                </div>
                {% endfor %}

                <div ><a href="{% url 'logisticnode-add' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Afegir nou node logístic</a></div>

            {% endif %}


{% endblock %}
