{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}
<script src="/static/js/model_actions.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<script>
  $(document).ready(function() {
    var anchor = window.location.hash;
    if ($(anchor).length > 0)
        $('html, body').animate({
        scrollTop: $(anchor).offset().top
    }, 2000);
  });
</script>

<center>
  {%if current_filter != 'inactive'%}<a id="url_create" href="?current_filter=inactive" class="btn btn-secondary"><i class="fa fa-bookmark"></i> Mostrar rutes antigues</a>{% endif %}
  {%if current_filter != 'active'%}<a id="url_create" href="?current_filter=active" class="btn btn-primary"><i class="fa fa-bookmark"></i> Mostrar rutes actives</a>{% endif %}
  {%if current_filter != 'frequent'%}<a id="url_create" href="?current_filter=frequent" class="btn btn-info"><i class="fa fa-bookmark"></i> Mostrar només rutes regulars</a>{% endif %}
</center>
<br>
<h3 class="headline">Les teves rutes publicades <span class="badge badge-primary">{{trip_results.all|length}}</span>
  {% if current_filter == 'active'%}(Actives)
  {% elif current_filter == 'inactive' %}(Antigues)
  {% elif current_filter == 'frequent' %}(Regulars){% endif %}
</h3>

            {% if current_filter != 'inactive' and not trip_results.all|length %}
                <div class="alert alert-info">
                  No tens cap ruta activa creada. Si faràs una ruta d'entrega i vols compartir espai al teu vehicle per dur les comandes d'altres, fes clic <a href="{% url 'tripoffer-add'%}">aquí</a>.
                </div>
            {% else %}
                {% if current_filter == 'frequent' %}
                  <div class="alert alert-info">
                  Per editar una ruta regular, edita'n una instància i al guardar podràs triar si aplicar els canvis per només aquella instància o per tota la sèrie.
                  </div>
                {% endif %}
                {% for trip in trip_results %}
                  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                      <div class="card-header" id="offer_{{trip.id}}">
                        <span class="badge badge-secondary float-left" style="margin-top: -20px; margin-left: -30px">#{{trip.id}}
                          {% if trip.internal_name %} {{trip.internal_name}}{% endif %}
                        </span>
                        {% if trip.frequency != 'ONCE' %}
                            <a href="/offer/frequent/{{trip.frequency_group_id}}"><span class="badge badge-info float-right" style="margin-right:5px">{{trip.get_frequency_name}}</span></a>
                        {% endif %}
                        ⚐ {{trip.origin_name}}{{trip.steps_name}} ⟹ ⚑ {{trip.destination_name}}
                        <br><small>Sortida: <i>{{trip.time_depart|date:"D j \d\e F \d\e Y, H:i"}}</i> Arribada: <i>{{trip.time_arrival|date:"D j \d\e F \d\e Y, H:i"}}</i></small>
                      </div>
                      <div class="card-body">
                          {% for match in trip_matches %}
                            {% if match.offer == trip %}
                                  {% include "frontend/offer_interactions.html" %}
                            {% endif %}
                          {% endfor %}
                          {% if not trip.matches.all %}
                            Aquesta ruta no ha rebut cap petició de moment :-(
                          {% endif %}
                      </div>

                      <!-- Cambiar rating por https://mdbootstrap.com/docs/standard/components/rating/ -->
                      <div class="card-footer text-right">
                          {% if trip.active and not trip.too_late_to_edit %}
                              <a href="javascript:update_trip_offer({{trip.id}},'delete', '{{trip.frequency}}')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                          {% endif %}
                        <div style="float:left;"><a href="{% url 'tripoffer-detail' trip.id %}" class="btn btn-primary btn-sm"><i class="fa fa-bookmark"></i> Detalls de la ruta</a></div>

                      </div>
                </div>
                {% endfor %}
            {% endif %}


<!-- Form to delete the item -->
<div id="dialog-confirm" title="Eliminar ruta freqüent?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Vols eliminar la ruta actual o també totes les de la sèrie?</p>
</div>
{% endblock %}
