{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load simple_tags %}

{% block extra_head %}
<script src="/static/js/model_actions.js"></script>

{% endblock %}

{% block content %}
{% csrf_token %}

<script>
  $(document).ready(function() {
    var anchor = window.location.hash;
    if ($(anchor).length > 0)
        $('html, body').animate({
        scrollTop: $(anchor).offset().top
    }, 2000);
  });
</script>

{% if trip_results.all|length > 7 %}
<center>
  {%if show_active %}<a id="url_create" href="?show_active=False" class="btn btn-secondary"><i class="fa fa-bookmark"></i> Mostrar comandes antigues</a>
  {% else %}<a id="url_create" href="?show_active=True" class="btn btn-success"><i class="fa fa-bookmark"></i> Mostrar comandes actives</a>{% endif %}
</center>
{% endif %}
<h3 class="headline">Les teves comandes <span class="badge badge-primary">{{trip_results.all|length}}</span>
  {% if show_active%}(Actives){% else %}(Antigues){% endif %}
</h3>
            {%if show_active and not trip_results.all|length %}
                <div class="alert alert-info">
                  No tens cap comanda activa creada.<br>Si necessites enviar una comanda i busques afegir-te a la ruta d'algú que vulgui dur la teva comanda al seu vehicle fes clic <a href="{% url 'triprequest-add'%}">aquí</a>.
                </div>
            {% else %}
                {% for trip in trip_results %}
                  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                      <div class="card-header" id="request_{{trip.id}}">
                        <span class="badge badge-secondary float-left" style="margin-top: -20px; margin-left: -30px">#{{trip.id}}
                        {% if trip.internal_name %} {{trip.internal_name}}{% endif %}</span>
                        ⚐ {{trip.origin_name}} ⟹ ⚑ {{trip.destination_name}}
                        <br><small>Des del <i>{{trip.min_time_arrival}}</i> fins al <i>{{trip.max_time_arrival}}</i></small>
                      </div>
                      <div class="card-body">
                        {% for match in trip_matches %}
                          {% if match.request == trip %}
                                {% include "frontend/request_interactions.html" %}
                          {% endif %}
                          {% endfor %}
                          {% if not trip.matches.all %}
                            Sense sort de moment :-(
                          {% endif %}
                      </div>

                      <!-- Cambiar rating por https://mdbootstrap.com/docs/standard/components/rating/ -->
                      <div class="card-footer text-right">
                          {% if trip.active %}
                              <a href="javascript:update_trip_request({{trip.id}},'delete')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                          {% endif %}
                        <div style="float:left;"><a href="{% url 'triprequest-detail' trip.id %}" class="btn btn-primary btn-sm"><i class="fa fa-bookmark"></i> Detalls de la comanda</a></div>
                      </div>
                </div>
                {% endfor %}
            {% endif %}
<center>
  {%if show_active %}<a id="url_create" href="?show_active=False" class="btn btn-secondary"><i class="fa fa-bookmark"></i> Mostrar comandes antigues</a>
  {% else %}<a id="url_create" href="?show_active=True" class="btn btn-success"><i class="fa fa-bookmark"></i> Mostrar comandes actives</a>{% endif %}
</center>
<div id="modal_container"></div>
{% endblock %}
