{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block extra_head %}
<script src="/static/js/model_actions.js"></script>
{% endblock %}

{% block content %}
{% csrf_token %}


<h3 class="headline">Els teus punts habituals <span class="badge badge-primary">{{storages.all|length}}</span></h3>
<i>PUNTS HABITUALS de sortida o arribada de les teves comandes/rutes, només visibles per al teu usuari. En afegir-los, t'estalviaràs d'escriure les adreces cada vegada que creïs una ruta/comanda.</i>
<br><br>
            {% if not storages.all|length %}
                <div class="alert alert-info">
                  No tens cap punt habitual creat. Si vols afegir un lloc de càrrega-descàrrega habitual PRIVAT (ex. per no haver d'escriure manualment cada vegada el teu obrador des d'on envies normalment els teus productes o el teu client habitual com a destí). Fes clic <a href="{% url 'storage-add'%}">aquí</a>
                  <br><br> 
                  Per contra, si disposes d'un espai o node logístic on altres altres usuàries de RutesCompartides puguin utilitzar com a punt de recollida per emmagatzemar temporalment les seves comandes: un ateneu, un magatzem particular, etc.). Fes clic <a href="{% url 'logisticnode-user-view'%}">aquí</a>
                </div>
            {% else %}
                {% for storage in storages %}
                  <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="margin-bottom:20px">
                      <div class="card-header" id="storage_{{storage.id}}">
                                {{storage.name}}
                            <span class="badge badge-secondary float-left" style="margin-top: -20px; margin-left: -30px">
                               {% if storage.is_public %}Públic{% else %}Privat{% endif %}
                            </span>
                      </div>
                      <div class="card-body">
                        Localització:  ⚐<i> {{storage.origin_name}}</i>
                        {%if storage.notes %}<br><small>Dades de contacte / informació: <i>{{storage.notes}}</i></small>{%endif%}
                      </div>

                      <div class="card-footer text-right">
                        <a href="javascript:update_storage({{storage.id}},'delete')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                        <div style="float:left;"><a href="{% url 'storage-detail' storage.id %}" class="btn btn-primary btn-sm"><i class="fa fa-bookmark"></i> Detall</a></div>
                      </div>
                </div>
                {% endfor %}

                <div ><a href="{% url 'storage-add' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Afegir nou punt habitual</a></div>

            {% endif %}


{% endblock %}
