
{% load static %}
<html>
<head>

    {# Global stylesheets #}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/logo.png" />
    <link rel="icon" href="/static/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap input tags -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-ie8-build/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sans" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js" integrity="sha512-KT0oYlhnDf0XQfjuCS/QIw4sjTHdkefv8rOJY5HHdNEZ6AmOh1DW/ZdSqpipe+2AEXym5D0khNu95Mtmw9VNKg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css" />
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/a2hs/index.js"></script>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="RutesCompartides.cat"/>
    <title>RutesCompartides.cat {% block title %}{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% if globals.DEV %}
    <div class="alert alert-primary" role="alert">
      Aquesta instància està executant-se en <b>mode de prova</b>. Versió num: <b>{{globals.APP_VERSION}}</b>
    </div>
{% endif %}
    {% include "frontend/navbar.html" %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <hr class="headline">
    <footer class="footer">
          <div class="legal" style="margin-bottom:10px"><a href="/page/avis-legal/">Avís legal</a>&nbsp;-&nbsp;<a href="/page/politica-privacitat/">Política de privacitat</a>&nbsp;-&nbsp;<a href="/page/politica-cookies/">Política de cookies</a>&nbsp;-&nbsp;<a href="/page/termes-condicions-us/">Termes i condicions d'Ús app</a></div>
          <div class="container-lg legal">
              <i class="fas fa-envelope-open fa-2x"></i> <a href="mailto:rutescompartides@riseup.net">rutescompartides@riseup.net</a>
              &nbsp;<a target="_blank" href="https://t.me/joinchat/-DCYs7jkCFRiOWY5"><img style="margin-left:-5px; max-height:40px" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png"> Grup de telegram</a>
        </div>
          <div>
            <div style="z-index: 2;" class="col-sm-12 wow slideInUp">
                <div>
                   <small>Un projecte de:</small>
                   <a target="_blank" href="https://ponentcoopera.cat/"><img style="height:40" src="/static/img/footer/logo2.png"></a>
                   <a target="_blank" href="http://trescadires.cat/"><img style="height:50" src="/static/img/footer/logo1.png"></a>
                   <a target="_blank" href="https://xep.cat/"><img style="height: 50px;" src="/static/img/footer/logo5.png"></a>
                   <br><small>Finançat per:</small>
                   <a target="_blank" href="https://www.cooperativestreball.coop/"><img style="height: 50px;" src="/static/img/footer/logo4.png"></a>
                   <a target="_blank" href="https://einatecagroecologica.pamapam.org/"><img style="height:40" src="/static/img/footer/logo3.png"></a>
                 </div>
                </div>
          </div>
          <div class="legal" style="margin-top:10px">Desenvolupat per <a parent="_blank" href="https://komun.org/?l=ca">Komun.org</a> amb <a parent="_blank" href="https://gitlab.com/komun/rutescompartides">programari lliure</a>.</div>

    </footer>


    {% block extra_js %}
        <!-- Override this in templates to add extra javascript -->
    {% endblock %}
</body>
</html>
