{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n static %}
{% block title %}- Registre{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">

<style type="text/css">
.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
    color: white !important;
    background: rgba(71,62,60,0.7) !important;
}

a {
    color: #D36A35 !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
</style>

{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login register{% endblock %}

{% block usertools %}{% endblock %}
{% block branding %}{% endblock %}

{% block nav-global %}Registrar-se a rutescompartides.cat{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p  class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

{{ form|crispy }}

<div id="div_id_firstname" class="form-group required"> <label for="id_firstname" class=" requiredField">Nom
  <span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="firstname"
  maxlength="50" autocapitalize="none" autocomplete="username" autofocus="" class="textinput textInput form-control" required="" id="id_firstname">

<div id="div_id_lastname" class="form-group required" style="margin-top:10px"> <label for="id_lastname" class=" requiredField">Cognoms
  <span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="lastname"
  maxlength="50" autocapitalize="none" autocomplete="username" autofocus="" class="textinput textInput form-control" required="" id="id_lastname">

<div id="div_id_phone" class="form-group required" style="margin-top:10px"> <label for="id_phone" class=" requiredField">Telèfon
  <span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="phone"
  maxlength="50" autocapitalize="none" autocomplete="username" autofocus="" class="textinput textInput form-control" required="" id="id_phone">


        <div style="margin-top:20px">
          <b>RESPONSABLE TRACTAMENT</b>: Tres Cadires, S.C.C.L.
          <br><b>FINALITAT</b>: Atendre la sol·licitud de tramitació i alta pel registre de l’usuari; i
          en cas de donar el consentiment per l’enviament de la newsletter, mantenir-
          lo informat sobre les ofertes i novetats.
          <br><b>LEGITIMACIÓ</b>: Consentiment de l‘interessat.
          <br><b>CESSIONS i TRANSFERÈNCIES</b>: No es cediran les seves dades excepte per
          obligació legal. No hi ha transferència internacional de dades.
          <br><b>DRETS</b>: Accés, rectificació, supressió, oposició, limitació, portabilitat,
          revocació del consentiment. Si considera que el tractament de les seves
          dades no s’ajusta a la normativa, pot acudir a l’Autoritat de Control
          (www.aepd.es).
          <br><b>INFORMACIÓ ADDICIONAL</b>: <a target="_blank" href="/page/politica-privacitat/">Política de privacitat</a>
      </div>
          <div style="margin-top:20px"><label class="required "> <input required type="checkbox" autocomplete="off"> Accepto <a target="_blank" href="/page/termes-condicions-us/">els termes i condicions d’ús de l’app</a>.</label></div>
          <div><label class="required "> <input required type="checkbox" autocomplete="off"> Accepto que es tractin les meves dades per atendre la sol·licitud de registre.</label></div>
          <div><label><input name="newsletter" type="checkbox" autocomplete="off"> Accepto que es tractin les meves dades per a rebre novetats sobre aquesta web-app, sobre logística i sobre agroecologia.</label></div>
          <input type="hidden" name="next" value="{{ next }}">
        <div class="submit-row">
          <label>&nbsp;</label><input  class="btn btn-success" type="submit" value="Registrar-se">
        </div>
      </form>

</div>
{% endblock %}
