@font-face {
  font-family: FredokaOne;
  src: url('/static/fonts/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.index_map {
    height: 100%;
    height: 500px;
    z-index: 0;
}

@media only screen and (max-height: 700px) {
  .index_map {
      height: 60%;
  }
}

a {
    color: #D36A35;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #282826;
    text-decoration: none;
    background-color: transparent;
}

.badge-origin{
  color: #fff;
  background-color: #D36A35;
}
.badge-destination{
  color: #fff;
  background-color: #282826;
}

.card-result {
  color: #fff;
  background-color: rgba(71,62,60,0.6);
}

.card-body {
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}

.user-link-orange {
  color: #D36A35 !important; /*taronja corporatiu*/
  font-size: small;
}

.user-link {
  color: #fff;
  font-size: small;
}


.btn-primary {
  color: white;
  background-color: #D36A35 !important; /*taronja corporatiu*/
  border-color: #D36A35 !important;
}

.btn-danger, .btn-danger:hover {
  color: white !important;
  background-color: #282826 !important; /*gris corporatiu*/
  border-color: #282826 !important;
}
.filter-label{
  font-size: small;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:active:focus, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle,
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

  color: white;
  background-color: #D36A35 !important; /*taronja corporatiu*/
  border-color: #D36A35 !important;
}

.container {
  margin-top: 20px;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.navbar-brand img {
    height: 50px;
    width: 100px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}

/* @media (max-width: 550px) {
    .navbar-einateca img {
        width: 150px;
        height: 40px !important;
    }
} */

.cookieNotice{
  background-color: rgba(211,106,53, 1) !important; /*taronja corporatiu*/
  color: white !important;
  border-width: 0px;
  z-index: 100;
}

.cookieNotice a {
  color: #282826; /*gris corporatiu*/
  text-decoration: none;
}

.badge-danger, .badge-primary, .alert-warning, .alert-danger {
  background-color: rgba(211,106,53, 1) !important; /*taronja corporatiu*/
  color: white !important;
  border-width: 0px;
}

.badge-danger a, .badge-primary a, .alert-warning a, .alert-danger  a {
    color: #282826; /*gris corporatiu*/
    text-decoration: none;
    background-color: transparent;
}

.alert-success, .alert-info{
  color: white;
  background-color: rgba(71,62,60,0.3) !important; /*gris corporatiu*/
  border-width: 0px;
}

.footer {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.legal {
  font-size: 80%;
  font-weight: 400;
  text-decoration: none;
}

.form-group.bmd-form-group.is-filled {
   flex: 1;
   padding-top: 1rem;
}

.input-group {
  max-width:600px;
  margin:auto;
}
.form-control {
  margin:auto;
}

.bootstrap-tagsinput{
    width:100%;
    height:40px;
    max-width:600px;
    outline:0;
    /* display: block; */
}

.label-info{
    background-color: #D36A35;

}
.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h3{
    font-family: FredokaOne !important;
    line-height: 1.5em;
    color: black;
    font-size: 20px;
}

h3:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}


body {
  font-family: 'MontserratRegular';
  font-weight: normal;
  font-style: normal;
  background-color: #eee;
}

.asteriskField {
    display: none;

}

.requiredField {
  font-weight: bold;
}

.btn-circle {
    width: 15px;
    height: 15px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    /* line-height: 1.42857; */
}


/* @media only screen and (max-width: 800px) {
  .carousel {
      width: 100%;
  }
}
@media only screen and (min-width: 801px) {
  .carousel {
      width: 70%!important;
      align-content: center;
  }
} */

@media only screen and (max-width: 500px) {

  .iframe {
    width: 100%;
  }
}
@media only screen and (min-width:501px) and (max-width: 770px) {
  .iframe {
    width: 500px;
    height: 300px ;
  }
}
@media only screen and (min-width: 771px) {

  .iframe {
    width: 640px;
    height: 360px ;
  }
}

/* Cookies CSS */
.button-fixed{
bottom: 0;
position: fixed;
right: 0;
border-radius: 4px;
}
.fas{
cursor: pointer;
font-size: 24px;
}

.cookieBanner{
  background-color: #1B1464 !important;
}


.legend{
  background-color: #ffffff !important;
  z-index: -10;
}
